@define-color main_color #000000;
@define-color selected_bg_color #69533a;
@define-color darker_color #151515;
@define-color bg_color #252525;
@define-color less_dark_color #4d4d4d;
@define-color frame_color #606060;
@define-color switch_slider_color #757575;
@define-color light_frame_color #999999;
@define-color progressbar_border #a1a1a1;
@define-color fg_color #e5e2d1;
@define-color tooltip_bg_color #192a30;
@define-color view_color #262c2e;
@define-color link_color #5c7391;
@define-color success_color #73d216;
@define-color button_color_a #454545;
@define-color botton_color_mt #252525;
@define-color botton_color_mb #151515;
@define-color button_color_b #303030;
@define-color notebook_button_a #3e5858;
@define-color notebook_button_b #010101;
@define-color progressbar_bg_a #781010;
@define-color progressbar_bg_b #2d0202;
* {
	padding: 0px;
	background-clip: padding-box;
	-GtkToolButton-icon-spacing: 4;
	-GtkTextView-error-underline-color: @progressbar_bg_a;
	-GtkScrolledWindow-scrollbar-spacing: 0;
	-GtkScrollbar-has-backward-stepper: false;
	-GtkScrollbar-has-forward-stepper: false;
	-GtkToolItemGroup-expander-size: 12;
	-GtkTreeView-expander-size: 12;
	-GtkTreeView-horizontal-separator: 4;
	-GtkIMHtml-hyperlink-color: @link_color;
	-GtkHTML-link-color: @link_color;
	-WnckTasklist-fade-overlay-rect: 0;
	-GtkDialog-button-spacing: 4;
	-GtkDialog-action-area-border: 0;
	-GtkWidget-text-handle-width: 20;
	-GtkWidget-text-handle-height: 20;
	-GtkWindow-resize-grip-width: 20;
	-GtkWindow-resize-grip-height: 20; 
	outline-color: alpha(@fg_color, 0.3);
	outline-style: dashed;
	outline-offset: 2px;
}
/* Base States */
*:selected {
	color: @fg_color;
	background-color: @selected_bg_color;
	background-image: linear-gradient(to bottom,
	                                  @selected_bg_color,
	                                  shade(@selected_bg_color, 0.7) 49%,
	                                  shade(@selected_bg_color, 0.6) 51%,
	                                  shade(@selected_bg_color, 0.8));
}
*:active,
*:checked {
	color: @fg_color;
}
*.gtkstyle {
	color: @fg_color;
	background-color: @bg_color;
}
.gtkstyle-fallback {
	color: @fg_color;
	background-color: @bg_color;
}
XfdesktopIconView.view .rubberband,
.content-view.view.rubberband,
.view.rubberband,
flowbox rubberband,
.content-view rubberband,
.rubberband,
rubberband {
	padding: 1px 3px 1px;
	background-color: @notebook_button_a;
	color: @fg_color;
	border-width: 1px;
	border-style: solid;
	border-image: none;
	border-color: @main_color;
	border-radius: 8px;
}
label selection {
	background-color: @notebook_button_a;
	color: @fg_color;
}
label:backdrop,
label disabled selected,
label:disabled selected,
label:disabled selection,
label:disabled:backdrop,
label:disabled {
	color: @fg_color;
	background-color: transparent;
}
label.separator:backdrop,
label.separator selected,
label.separator selection,
label.separator {
	color: @darker_color;
	background-color: transparent;
}
/* Floating Bar */
.floating-bar {
	text-shadow: none;
	color: @fg_color;
}
.floating-bar.top {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.floating-bar.right {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.floating-bar.bottom {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.floating-bar.left {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
/* Views */
textview,
GtkHTML,
iconview.view,
textview.view,
GtkTextView.view,
GtkDialog.view,
.view {
	background-color: @view_color;
	color: @fg_color;
}
calendar.view {
	background-image: radial-gradient(ellipse at center,
				shade(@view_color, 1.2),
				shade(@view_color, 0.6));
	color: @fg_color;
}
textview.view:disabled,
.view:disabled,
textview.view:disabled {
	background-color: @view_color;
	color: @fg_color;
}
iconview:backdrop,
.view text:backdrop,
iconview text:backdrop,
textview text:backdrop,
.view text:selected:focus,
iconview text:selected:focus,
textview text:selected:focus,
.view text selection:focus,
iconview text selection:focus,
textview text selection:focus,
spinbutton selection:focus,
entry selection:focus,
GtkTextView.view:selected,
.view:selected,
iconview:selected,
iconview text:selected,
iconview text selection,
.view:active,
.view text:selected,
textview text:selected,
.view text selection,
textview text selection,
flowbox flowboxchild:selected,
spinbutton selection,
entry selection,
.view:selected:focus {
	border: none;
	background-color: @selected_bg_color;
	background-image: linear-gradient(to bottom,
	                                  shade(@selected_bg_color, 1.3),
	                                  shade(@selected_bg_color, 0.9) 49%,
	                                  shade(@selected_bg_color, 0.8) 51%,
	                                  shade(@selected_bg_color, 1.1));
}
iconview:selected:active,
iconview:selected:hover,
iconview:selected:focus {
	border: none;
	background-color: transparent;
	background-image: linear-gradient(to bottom,
	                                  shade(@selected_bg_color, 1.3),
	                                  shade(@selected_bg_color, 0.9) 49%,
	                                  shade(@selected_bg_color, 0.8) 51%,
	                                  shade(@selected_bg_color, 1.1));
}
/* Separators */
treeview separator,
separator {
	background-color: @darker_color;
	color: @darker_color;
}
.pane-separator,
paned > separator {
	background-color: @darker_color;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url("assets/pane-separator-grip.svg");
}
.pane-separator:hover,
.pane-separator:selected,
paned > separator:hover,
paned > separator:selected {
	background-image: url("assets/pane-separator-grip-hover.svg");
}
.pane-separator.vertical,
paned.vertical > separator {
	background-image: url("assets/pane-separator-grip-vertical.svg");
}
.pane-separator.vertical:hover,
.pane-separator.vertical:selected,
paned.vertical > separator:hover,
paned.vertical > separator:selected {
	background-image: url("assets/pane-separator-grip-vertical-hover.svg");
}
.dnd {
	border-radius:0px;
	border-width:1px;
	border-style:solid;
	border-color:@darker_color;
	border-radius:0;
}
/* Spinners */
@keyframes spin {
	to {
		-gtk-icon-transform: rotate(1turn);
	}
}
spinner {
	background-image: none;
	background-color: transparent;
	opacity: 0;
	-gtk-icon-source: -gtk-icontheme("process-working-symbolic");
}
spinner:active,
spinner:checked {
	opacity: 1;
	animation: spin 1s linear infinite;
}
spinner:active:disabled,
spinner:checked:disabled {
	opacity: 0.5;
}
/* Text Entries */
spinbutton,
entry,
toolbar .entry {
	background-color: transparent;
	border-style: solid;
	border-radius: 8px;
	border-width: 1px;
	border-color: @main_color;
	border-image: url("assets/menuitem-hiver-border-dark-botton.svg") 1 / 1px stretch;
	color: @fg_color;
	background-image: linear-gradient(to bottom,
				shade(@view_color, 0.6),
				shade(@view_color, 1.5) 80%,
				shade(@view_color, 0.7));
}
spinbutton:not(.vertical),
entry {
	color: @fg_color;
	padding: 2px 2px;
	min-height: 8px;
}
spinbutton.vertical {
	color: @fg_color;
	padding: 2px 2px;
}
entry:selected {
	background-color: @selected_bg_color;
}
entry:selected:focus {
	background-color: @selected_bg_color;
}
spinbutton:focus,
entry:focus {
	border-image: none;
	border-style: solid;
	border-color: @main_color;
	box-shadow: none;
}
spinbutton:disabled,
entry:disabled {
	background-color: @bg_color;
	color: @main_color;
	box-shadow: none;
}
spinbutton:not(.vertical) progress,
spinbutton:not(.vertical) progress:focus,
entry progress,
entry progress:focus {
	margin-left: 2px;
	margin-right: 2px;
	border-image: none;
	border-style: none;
	background-color: transparent;
	background-image: linear-gradient(to top, 
	                                  transparent 2px,
	                                  white 2px,
	                                  white 3px,
	                                  shade(@bg_color, 0.8) 3px,
	                                  shade(@bg_color, 0.8) 5px,
	                                  transparent 5px);
	background-size: auto;
	box-shadow: none;
}
entry:active {
	color: @fg_color;
	background-color: @bg_color;
}
textview.entry,
textview entry,
GtkHTML.entry {
	background-color: @view_color;
	color: @fg_color;
}
cursor-handle.top,
cursor-handle.bottom {
	background-color:transparent;
	box-shadow: none;
	border-style: none;
	border-radius: 0px;
	border-width: 0px;
}
/* Progress bar */
progressbar {
	padding: 0px;
}
progressbar.horizontal trough,
levelbar.horizontal trough,
progressbar.horizontal progress,
progressbar.vertical trough,
levelbar.vertical trough,
progressbar.vertical progress {
	min-width: 15px;
}
progressbar row,
progressbar row.view,
progressbar row:hover,
progressbar row:selected,
progressbar row:selected:focus {
	background-image: linear-gradient(-45deg,
	                                  alpha(@main_color, 0.09),
	                                  alpha(@main_color, 0.09) 25%,
	                                  transparent 25%,
	                                  transparent 50%,
	                                  alpha(@main_color, 0.09) 50%,
	                                  alpha(@main_color, 0.09) 75%,
	                                  transparent 75%,
	                                  transparent),
	                  linear-gradient(to bottom,
	                                  @progressbar_bg_a,
	                                  shade(@progressbar_bg_b, 1.1) 25%,
	                                  @progressbar_bg_b 43%,
	                                  shade(@progressbar_bg_b, 1.08) 44%,
	                                  shade(@progressbar_bg_a, 0.91));
}
progressbar row:selected,
progressbar row:selected:focus {
	color: @fg_color;
}
progressbar.vertical row,
progressbar.vertical row.view,
progressbar.vertical row:hover,
progressbar.vertical row:selected,
progressbar.vertical row:selected:focus {
	background-image: linear-gradient(135deg,
	                                  alpha(@main_color, 0.09),
	                                  alpha(@main_color, 0.09) 25%,
	                                  transparent 25%,
	                                  transparent 50%,
	                                  alpha(@main_color, 0.09) 50%,
	                                  alpha(@main_color, 0.09) 75%,
	                                  transparent 75%,
	                                  transparent),
	                  linear-gradient(to right,
	                                  @progressbar_bg_a,
	                                  shade(@progressbar_bg_b, 1.1) 25%,
	                                  @progressbar_bg_b 43%,
	                                  shade(@progressbar_bg_b, 1.08) 44%,
	                                  shade(@progressbar_bg_a, 0.91));
}
progressbar progress {
	background-image: linear-gradient(to bottom,
	                                  @progressbar_bg_a,
	                                  shade(@progressbar_bg_b, 1.1) 26%,
	                                  @progressbar_bg_b 47%,
	                                  shade(@progressbar_bg_b, 1.09) 48%,
	                                  shade(@progressbar_bg_a, 0.89));
}
progressbar.vertical progress {
	background-image: linear-gradient(to right,
	                                  @progressbar_bg_a,
	                                  shade(@progressbar_bg_b, 1.1) 26%,
	                                  @progressbar_bg_b 47%,
	                                  shade(@progressbar_bg_b, 1.09) 48%,
	                                  shade(@progressbar_bg_a, 0.89));
}
trough row {
	background-image: linear-gradient(to bottom,
	                                  shade(@less_dark_color, 0.7),
	                                  shade(@less_dark_color, 1.6));
}
.trough row:selected,
.trough row:selected:focus,
progressbar progress {
	border-style: none;
}
progressbar trough,
levelbar trough {
	background-image: linear-gradient(to bottom,
	                                  shade(@bg_color, 0.4),
	                                  @bg_color 50%,
	                                  shade(@bg_color, 1.8));
}
progressbar.vertical trough,
levelbar.vertical trough {
	background-image: linear-gradient(to right,
	                                  shade(@bg_color, 0.4),
	                                  @bg_color 50%,
	                                  shade(@bg_color, 1.8));
}
/* GtkLevelBar */
levelbar block,
levelbar.vertical block {
	min-width: 8px;
	min-height: 8px;
}
levelbar.horizontal.discrete block {
	margin: 0 2px;
}
levelbar.vertical.discrete block {
	margin: 2px 0;
}
levelbar block:not(.empty) {
	border-image: none;
	background-color: shade(@selected_bg_color, 1.4);
	border-radius: 0px;
	color: @main_color;
}
levelbar block.low,
levelbar.vertical block.low {
	background-image: linear-gradient(to right,
	                                  shade(@button_color_a, 1.2),
	                                  shade(@button_color_a, 0.7));
}
levelbar block.high,
levelbar.vertical block.high {
	background-image: linear-gradient(to right,
	                                  shade(@success_color, 1.2),
	                                  shade(@success_color, 0.7));
}
levelbar block.full,
levelbar.vertical block.full {
	border-style: none;
	background-image: linear-gradient(to right,
	                                  shade(@link_color, 1.2),
	                                  shade(@link_color, 0.6));
}
levelbar block.empty,
levelbar.vertical block.empty {
	background-color: transparent;
	background-image: linear-gradient(to right,
					  shade(@less_dark_color, 1.7),
					  shade(@less_dark_color, 0.5));
}
/* Frames */
frame > border,
.frame,
calendar {
	padding: 2px;
	color: @fg_color;
}
frame > border,
frame {
	color: @bg_color;
	border-style: solid;
	border-width: 1px;
	border-color: @main_color;
	padding: 2px;
}
/* Notebooks */
notebook > stack,
notebook frame,
notebook .frame,
notebook viewport,
notebook > header {
	background-color: transparent;
}
notebook > header.right tabs tab,
notebook > header.left tabs tab,
notebook > header.bottom tabs tab,
notebook > header.top tab,
notebook > header.bottom tabs tab,
notebook > header tab button,
notebook > header tab {
	padding: 1px 3px 1px;
	border-radius: 8px;
	border-style: solid;
	border-width: 1px;
	border-image: url("assets/menuitem-hiver-border-dark.svg") 1 / 1px stretch;
	background-image: linear-gradient(to bottom,
	                                  @button_color_a,
					  @botton_color_mt 49%,
					  @botton_color_mb 51%,
	                                  @button_color_b);
	margin: 1px 5px;
}
notebook > header.left tabs tab:checked,
notebook > header.right tabs tab:checked,
notebook > header.bottom tabs tab:checked,
notebook > header.top tab:checked,
notebook > header.bottom tabs tab:checked,
notebook > header tab:checked {
	padding: 1px 3px 1px;
	border-radius: 8px;
	border-style: solid;
	border-width: 1px;
	border-image: url("assets/menuitem-hiver-border-dark-botton.svg") 1 / 1px stretch;
	background-image: linear-gradient(to bottom,
	                                  @notebook_button_a,
					  @notebook_button_b);
	margin: 1px 5px;
}
notebook > header tab button:hover,
notebook > header tab button:hover:checked,
notebook > header.left tabs tab:hover,
notebook > header.right tabs tab:hover,
notebook > header.bottom tabs tab:hover,
notebook > header.top tab:hover,
notebook > header.bottom tabs tab:hover,
notebook > header tab:hover {
	padding: 1px 3px 1px;
	border-radius: 8px;
	border-style: solid;
	border-width: 1px;
	border-image: url("assets/menuitem-hiver-border-dark-botton.svg") 1 / 1px stretch;
	background-image: linear-gradient(to bottom,
	                                  shade(@button_color_b, 1.4),
					  shade(@botton_color_mb, 1.4) 49%,
					  shade(@botton_color_mt, 1.4) 51%,
	                                  shade(@button_color_a, 1.4));
	margin: 1px 5px;
}
notebook > header > tabs > arrow {
	min-height: 16px;
	min-width: 8px;
	border-radius: 0;
}
notebook > header > tabs > arrow:disabled {
	color: @bg_color;
}
notebook > header.top > tabs > arrow.down, notebook > header.bottom > tabs > arrow.down {
	-gtk-icon-source: -gtk-icontheme("pan-start-symbolic");
}
notebook > header.top > tabs > arrow.up, notebook > header.bottom > tabs > arrow.up {
	-gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
}
notebook > header.left > tabs > arrow.down, notebook > header.right > tabs > arrow.down {
	-gtk-icon-source: -gtk-icontheme("pan-up-symbolic");
}
notebook > header.left > tabs > arrow.up, notebook > header.right > tabs > arrow.up {
	-gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
}
/* GtkTreeView */
treeview.view.separator,
treeview.view.separator:hover {
	color: @darker_color;
}
treeview,
treeview.view:disabled,
treeview .view,
treeview.view {
	background-color: transparent;
	color: @fg_color;
}
column-header,
column-header button,
treeview button {
    min-width: 16px;
    min-height: 8px;
	border-radius: 8px;
	border-style: solid;
	border-width: 1px;
	border-color: transparent;
	border-image: url("assets/menuitem-hiver-border-dark.svg") 1 / 1px stretch;
	background-image: radial-gradient(ellipse at center,
	                                  @notebook_button_a,
					  @notebook_button_b);
	margin: 2px 8px;
}
column-header button:hover,
treeview button:hover,
treeview button:selected,
treeview.view:hover,
treeview.view:selected {
	background-image: linear-gradient(to bottom,
	                                  @selected_bg_color,
	                                  shade(@selected_bg_color, 0.7) 49%,
	                                  shade(@selected_bg_color, 0.65) 51%,
	                                  shade(@selected_bg_color, 0.8));
}
treeview.view.trough {
	background-color: @view_color;
	color: @fg_color;
}
treeview.view.progressbar {
	border-width: 0px;
	border-style: none;
	border-image: none;
	border-radius: 0px;
	background-image: linear-gradient(45deg,
	                                  alpha(@main_color, 0.09),
	                                  alpha(@main_color, 0.09) 25%,
	                                  transparent 25%,
	                                  transparent 50%,
	                                  alpha(@main_color, 0.09) 50%,
	                                  alpha(@main_color, 0.09) 75%,
	                                  transparent 75%,
	                                  transparent),
	                  linear-gradient(to bottom,
	                                  @progressbar_bg_a,
	                                  shade(@progressbar_bg_b, 1.1) 25%,
	                                  @progressbar_bg_b 43%,
	                                  shade(@progressbar_bg_b, 1.08) 44%,
	                                  shade(@progressbar_bg_a, 0.91));
}
treeview row:nth-child(odd),
treeview row:nth-child(odd):hover,
treeview row:nth-child(even),
treeview row:nth-child(even):hover,
treeview row:nth-child(odd):disabled,
treeview row:nth-child(even):disabled,
treeview column:sorted row:nth-child(odd),
treeview column:sorted row:nth-child(odd):hover,
treeview column:sorted row:nth-child(even),
treeview column:sorted row:nth-child(even):hover {
	background-color: shade(@view_color, 0.8);
}
row {
	border-width: 0px;
}
.cell {
	padding: 0px;
	border-width: 0px;
}
/* GtkScale */
scale {
	min-height: 26px;
	min-width: 26px;
	color: @fg_color;
}
scale slider,
scale slider:hover {
	min-height: 26px;
	min-width: 26px;
	border-width: 0px;
	border-radius: 0px;
	border-style: none;
	margin: -8px 0;
	color: transparent;
	background-color: transparent;
}
scale.vertical slider,
scale.vertical slider:hover {
	min-width: 26px;
	min-height: 26px;
	margin: 0 -8px;
}
scale slider:disabled {
	color: transparent;
	background-color: transparent;
}
.scale.slider.fine-tune:active,
.scale.slider.fine-tune:active:hover,
.scale.slider.fine-tune.horizontal:active,
.scale.slider.fine-tune.horizontal:active:hover {
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: center;
}
scale trough {
	background-image: linear-gradient(to bottom,
	                                  @frame_color,
	                                  @darker_color);
	border-width: 0px;
	border-radius: 0px;
	margin: 8px 0;
}
scale.vertical trough {
	background-image: linear-gradient(to right,
	                                  @frame_color,
	                                  @darker_color);
	margin: 0 8px;
}
scale trough:disabled,
scale.vertical trough:disabled {
	background-image: linear-gradient(to right,
	                                  @frame_color,
	                                  @darker_color);
}
scale fill,
scale highlight {
	background-image: linear-gradient(to bottom,
	                                  @progressbar_bg_a,
	                                  shade(@progressbar_bg_b, 1.1) 26%,
	                                  @progressbar_bg_b 47%,
	                                  shade(@progressbar_bg_b, 1.09) 48%,
	                                  shade(@progressbar_bg_a, 0.89));
	border-radius: 0px;
}
scale.vertical fill,
scale.vertical highlight {
	background-image: linear-gradient(to right,
	                                  @progressbar_bg_a,
	                                  shade(@progressbar_bg_b, 1.1) 26%,
	                                  @progressbar_bg_b 47%,
	                                  shade(@progressbar_bg_b, 1.09) 48%,
	                                  shade(@progressbar_bg_a, 0.89));
}
scale marks.top,
scale marks.bottom,
scale.fine-tune marks.top,
scale.fine-tune marks.bottom {
	margin-top: 0px;
	margin-bottom: 14px;
}
scale.horizontal indicator {
	min-height: 6px;
	min-width: 1px;
}
scale.horizontal.fine-tune indicator {
	min-height: 3px;
}
scale.vertical indicator {
	min-height: 1px;
	min-width: 6px;
}
scale.vertical.fine-tune indicator {
	min-width: 3px;
}
/* ComboBoxes */
combobox arrow {
	-gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
	min-height: 12px;
	min-width: 12px;
}
combobox {
	border-style: solid;
	border-width: 0px 0px 0px 0px;
	padding: 0;
	color: @fg_color;
	text-shadow: none;
}
combobox :hover {
	text-shadow: none;
}
combobox .separator {
    -GtkWidget-horizontal-separator: 0;
    -GtkWidget-vertical-separator: 0;
}
combobox menu {
	text-shadow: none;
}
combobox * {
	background-image: linear-gradient(to bottom,
	                                  @button_color_a,
					  @botton_color_mt 49%,
					  @botton_color_mb 51%,
	                                  @button_color_b);
}
combobox *:hover,
combobox *:hover:active,
combobox *:active {
	background-image: linear-gradient(to top,
	                                  @button_color_b,
					  @botton_color_mb 49%,
					  @botton_color_mt 51%,
	                                  @button_color_a);
}
combobox *:disabled {
	background-image: none;
	background-color: transparent;
}
/* Buttons */
button {
	padding: 0px;
	border-radius: 8px;
	border-image: url("assets/menuitem-hiver-border-dark.svg") 1 / 1px stretch;
	background-image: linear-gradient(to bottom,
	                                  @button_color_a,
					  @botton_color_mt 49%,
					  @botton_color_mb 51%,
	                                  @button_color_b);
	margin: 2px 5px;
}
button label,
button label:disabled,
button label:active,
button label:checked,
button image,
button image:active,
button image:disabled,
button.image-button,
button.image-button:active,
button.image-button:checked {
	padding: 0px;
	border-radius: 8px;
	background-image: none;
	margin: 2px 5px;
}
button.image-button:hover:active,
button.image-button:hover:checked,
button.image-button:hover,
botton image:checked,
button image:hover:active,
button image:hover:checked,
button image:hover,
butoon label:hover:checked,
button label:hover:active,
button label:hover,
button:hover,
button:hover:active,
button:active,
button:checked, 
button:hover:checked {
	padding: 0px;
	border-radius: 8px;
	border-image: url("assets/menuitem-hiver-border-dark-botton.svg") 1 / 1px stretch;
	background-image: linear-gradient(to bottom,
	                                  @button_color_b,
					  @botton_color_mb 49%,
					  @botton_color_mt 51%,
	                                  @button_color_a);
	margin: 2px 5px;
}
calendar.header button.titlebutton:checked,
calendar.header button.titlebutton:active,
calendar.header button.titlebutton:hover:active,
calendar.header button.titlebutton:hover:checked {
	padding: 0px;
	border-radius: 8px;
	border-style: solid;
	border-width: 1px;
	border-image: url("assets/menuitem-hiver-border-dark.svg") 1 / 1px stretch;
	background-image: linear-gradient(to bottom,
	                                  @button_color_b,
					  @botton_color_mb 49%,
					  @botton_color_mt 51%,
	                                  @button_color_a);
	margin: 1px 5px;
}
button:disabled,
button:active:disabled,
button:checked:disabled,
button:disabled:checked,
button:disabled:active,
calendar.header button.titlebutton:active:disabled,
calendar.header button.titlebutton:hover:checked:disabled,
calendar.header button.titlebutton:disabled:active,
calendar.header .button.titlebutton:hover:disabled:checked {
	padding: 0px;
	border-radius: 8px;
	border-image: url("assets/menuitem-hiver-border-dark.svg") 1 / 1px stretch;
	background-image: linear-gradient(to bottom,
	                                  alpha(@button_color_a, 0.5),
					  alpha(@botton_color_mt, 0.5) 49%,
					  alpha(@botton_color_mb, 0.5) 51%,
	                                  alpha(@button_color_b, 0.5));
	margin: 2px 5px;
}
button.color {
	padding: 3px;
}
button.color colorswatch:only-child {
	box-shadow: 0 1px black);
}
button.color colorswatch:only-child,
button.color colorswatch:only-child overlay {
	border-radius: 0;
}
button.color colorswatch:only-child:disabled,
button.color colorswatch:only-child:backdrop {
	box-shadow: none;
}
/* GtkSpinButton */
spinbutton button,
spinbutton button:disabled,
spinbutton button:hover,
spinbutton button:active,
spinbutton button:focus,
spinbutton button:checked {
	background-image: none;
	background-color: transparent;
	border-style: none;
	border-image: none;
	padding: 1px 3px 1px;
}
spinbutton.vertical button,
spinbutton.vertical button:disabled,
spinbutton.vertical button:hover,
spinbutton.vertical button:active,
spinbutton.vertical button:focus,
spinbutton.vertical button:checked {
	padding: 1px 3px 1px;
}
spinbutton button,
spinbutton button:focus {
	color: shade(@fg_color, 0.75);
}
spinbutton button:hover,
spinbutton button:active,
spinbutton button:checked {
	color: @fg_color;
}
spinbutton button:disabled {
	color: shade(@fg_color, 0.8);
}
spinbutton:not(.vertical) button {
	margin: 0px;
	min-height: 8px;
}
spinbutton:not(.vertical) entry {
	margin: 0px;
	min-width: 8px;
	background: none;
	background-color: transparent;
	border: none;
	border-radius: 0;
	box-shadow: none;
}
spinbutton.vertical button {
	margin: 0px;
	min-height: 8px;
	min-width: 8px;
}
spinbutton.vertical entry {
	margin: 0px;
	min-height: 8px;
	background: none;
	background-color: transparent;
	border: none;
	border-radius: 0;
	box-shadow: none;
}
/* Scrollbars */
scrollbar {
	background-image: none;
	border-style: solid;
	background-color: @less_dark_color;
}
scrollbar trough {
	border-style: none;
	border-width: 0px;
	background-image: linear-gradient(to bottom,
	                                  @bg_color,
	                                  @bg_color 33.32%,
	                                  shade(@bg_color, 0.5) 33.33%,
	                                  shade(@bg_color, 1.9) 66.66%,
	                                  @bg_color 66.67%,
	                                  @bg_color);
}
scrollbar.vertical trough {
	border-style: none;
	border-width: 0px;
	background-image: linear-gradient(to right,
	                                  @bg_color,
	                                  @bg_color 33.32%,
	                                  shade(@bg_color, 0.5) 33.33%,
	                                  shade(@bg_color, 1.9) 66.66%,
	                                  @bg_color 66.67%,
	                                  @bg_color);
}
scrollbar slider {
	min-width: 60px;
	min-height: 16px;
	background-color: transparent;
	background-image: url("assets/holes_tiny_horiz.svg"),
	                  linear-gradient(to bottom,
					  @bg_color,
	                                  shade(@bg_color, 2.0),
	                                  @main_color);
	background-repeat: no-repeat;
	background-position: center;
}
scrollbar.vertical slider {
	min-width: 16px;
	min-height: 60px;
	background-color: transparent;
	background-image: url("assets/holes_tiny_vert.svg"),
	                  linear-gradient(to right,
					  @bg_color,
	                                  shade(@bg_color, 2.0),
	                                  @main_color);
}
scrollbar slider:hover {
	background-image: url("assets/holes_tiny_glow_horiz.svg"),
	                  linear-gradient(to bottom,
					  @bg_color,
	                                  shade(@bg_color, 3.0),
	                                  @main_color);
}
scrollbar.vertical slider:hover {
	background-image: url("assets/holes_tiny_glow_vert.svg"),
	                  linear-gradient(to right,
					  @bg_color,
	                                  shade(@bg_color, 3.0),
	                                  @bg_color);
}
scrollbar slider:hover:active {
	color: @main_color;
	background-image: url("assets/holes_tiny_glow_horiz.svg"),
	                  linear-gradient(to bottom,
					  @bg_color,
	                                  shade(@bg_color, 3.0),
	                                  @bg_color);
}
scrollbar.vertical slider:hover:active {
	background-image: url("assets/holes_tiny_glow_vert.svg"),
	                  linear-gradient(to right,
					  @bg_color,
	                                  shade(@bg_color, 3.0),
	                                  @bg_color);
}
scrollbar slider:disabled {
	background-image: none;
	background-color: @bg_color;
}
scrollbar.fine-tune slider:hover:active {
	background-image: url("assets/holes_tiny_glow_fine_horiz.svg"),
	                  linear-gradient(to bottom,
					  @bg_color,
	                                  shade(@bg_color, 2.0),
	                                  @main_color);
}
scrollbar.fine-tune.vertical slider:active {
	background-image: url("assets/holes_tiny_glow_fine_vert.svg"),
	                  linear-gradient(to right,
					  @bg_color,
	                                  shade(@bg_color, 2.0),
	                                  @main_color);
}
scrolledwindow junction,
.scrollbars-junction {
	background-image: none;
	background-color: transparent;
}
/* Menus */
menu menuitem arrow,
.menu menuitem arrow {
	min-height: 16px;
	min-width: 16px;
}
menu menuitem arrow:dir(ltr),
.menu menuitem arrow:dir(ltr) {
	min-height: 16px;
	min-width: 16px;
	-gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
}
menu menuitem arrow:dir(rtl),
.menu menuitem arrow:dir(rtl) {
	min-height: 16px;
	min-width: 16px;
	-gtk-icon-source: -gtk-icontheme("pan-end-symbolic-rtl");
}
menu > arrow.top,
.menu > arrow.top {
	min-height: 16px;
	min-width: 16px;
	-gtk-icon-source: -gtk-icontheme("pan-up-symbolic");
}
menu > arrow.bottom,
.menu > arrow.bottom {
	min-height: 16px;
	min-width: 16px;
	-gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
}
menubar menuitem,
menubar > menuitem {
	padding: 2px 14px;
}
menubar menuitem,
menubar > menuitem,
menu menuitem {
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
}
menubar menuitem *:hover,
menubar menuitem:hover,
menubar > menuitem *:hover,
menubar > menuitem:hover {
	background-color: transparent;
	border-radius: 8px;
	border-width: 1px;
	border-style: solid;
	border-color: @switch_slider_color;
	background-image: linear-gradient(to right,
	                                  @notebook_button_b,
	                                  @notebook_button_a,
	                                  @notebook_button_b);
}
menubar menuitem *:disabled,
menubar > menuitem *:disabled {
	color: shade(@fg_color, 0.7);
}
menu,
menubar menu,
menuitem menu {
	padding: 8px 0px 8px;
	border-width: 1px;
	border-radius: 0px;
	border-style: solid;
	border-image: url("assets/menu-border-dark.svg") 1 / 2px stretch;
	background-image: url("assets/menu.svg");
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
menuitem *,
menu button:disabled {
	background-image: none;
	border-style: none;
}
menu menuitem:hover,
menu button,
menu button:hover,
menuitem *:hover,
menu menuitem *:hover {
	border-width: 1px;
	border-radius: 8px;
	border-style: solid;
	border-color: transparent;
	background-image: linear-gradient(to bottom,
					  shade(@selected_bg_color, 1.2),
	                                  shade(@selected_bg_color, 0.9) 49%,
	                                  shade(@selected_bg_color, 0.85) 51%,
	                                  @selected_bg_color);
}
menu menuitem *:disabled {
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
	color: shade(@fg_color, 0.6);
}
menuitem.separator {
	padding: 1px;
	border-style: none;
	border-color: @main_color;
}
menuitem.accelerator,
menu menuitem.accelerator {
	color: alpha(@main_color, 0.6);
}
menuitem.accelerator:hover,
menuitem.accelerator:active,
menu menuitem.accelerator:hover,
menu menuitem.accelerator:active {
	color: alpha(@fg_color, 0.45);
}
menuitem check,
menuitem radio {
	min-height: 10px;
	min-width: 10px;
}
menuitem check:dir(ltr),
menuitem radio:dir(ltr),
menuitem check:dir(rtl),
menuitem radio:dir(rtl) {
	margin-left: 3px;
}
/* Toolbars */
toolbar {
	border-radius: 0px;
	border-width: 0px 1px 0px;
	border-style: solid;
	border-color: transparent;
	background-image: url("assets/background.svg");
	background-color: @bg_color;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	-GtkWidget-window-dragging: true;
}
.primary-toolbar.toolbar button.image-button,
toolbar button.text-button,
toolbar button.image-button {
	padding: 1px 3px 1px;
	border-radius: 8px;
	border-style: solid;
	border-width: 1px;
	border-color: transparent;
	background-image: linear-gradient(to bottom,
	                                  @button_color_a,
					  @botton_color_mt 49%,
					  @botton_color_mb 51%,
	                                  @button_color_b);
}
/* Primary Toolbars */
toolbar combobox button,
.primary-toolbar toolbar combobox button,
.primary-toolbartoolbar combobox button,
.toolbar:disabled,
toolbar button,
.primary-toolbar button,
.primary-toolbar toolbar button,
.primary-toolbar.toolbar button,
toolbar button:disabled,
.primary-toolbar button:disabled,
.primary-toolbar toolbar button:disabled,
.primary-toolbar.toolbar button:disabled,
toolbar button:disabled:hover,
.primary-toolbar button:disabled:hover,
.primary-toolbar toolbar button:disabled:hover,
.inline-toolbar.toolbar,
.primary-toolbar.toolbar button:disabled:hover {
	padding: 1px 3px 1px;
	border-radius: 8px;
	border-style: solid;
	border-width: 1px;
	border-color: transparent;
	background-image: linear-gradient(to bottom,
	                                  @button_color_a,
					  @botton_color_mt 49%,
					  @botton_color_mb 51%,
	                                  @button_color_b);
}
toolbar button:active,
.primary-toolbar button:active,
.primary-toolbar toolbar button:active,
.primary-toolbar.toolbar button:active,
toolbar button:checked,
.primary-toolbar button:checked,
.primary-toolbar toolbar button:checked,
.primary-toolbar.toolbar button:checked {
	padding: 1px 3px 1px;
	border-style: solid;
	border-width: 1px;
	border-color: @switch_slider_color;
	border-radius: 8px;
	background-image: linear-gradient(to bottom,
					  shade(@notebook_button_a, 1.5),
					  @notebook_button_b);
}
toolbar button:hover:active,
.primary-toolbar button:hover:active,
.primary-toolbar toolbar button:hover:active,
.primary-toolbar.toolbar button:hover:active,
toolbar button:active:hover,
.primary-toolbar button:active:hover,
.primary-toolbar toolbar button:active:hover,
.primary-toolbar.toolbar button:active:hover,
toolbar button:checked:hover,
.primary-toolbar button:checked:hover,
.primary-toolbar toolbar button:checked:hover,
.primary-toolbar.toolbar button:checked:hover,
toolbar button:hover,
.primary-toolbar button:hover,
.primary-toolbar toolbar button:hover,
.primary-toolbar.toolbar button:hover {
	padding: 1px 3px 1px;
	border-style: solid;
	border-width: 1px;
	border-color: @switch_slider_color;
	border-radius: 8px;
	background-image: linear-gradient(to bottom,
					  shade(@button_color_a, 1.8),
	                                  @button_color_b);
}
.toolbar GtkSeparatorToolItem,
toolbar entry.progressbar {
	background-image: linear-gradient(to bottom,
	                                  @progressbar_bg_a,
	                                  @progressbar_bg_b);
	color: @fg_color;
}
/* OSD */
.background.osd {
	color: @fg_color;
	background-color: shade(@view_color, 1.2);
}
GtkOverlay.osd {
	background-color: shade(@view_color, 1.2);
}
.osd.button,
.osd .button,
.osd GtkMenuButton.button:active,
.osd .button:active,
.osd.button:active,
.osd button {
	padding: 1px 3px 1px;
	border-radius: 8px;
	border-style: solid;
	border-width: 1px;
	border-color: transparent;
	background-color: transparent;
	background-image: linear-gradient(to bottom,
	                                  @button_color_a,
					  @botton_color_mt 49%,
					  @botton_color_mb 51%,
	                                  @button_color_b);
}
.osd GtkMenuButton.button:checked,
.osd.button:checked,
.osd .button:checked,
.osd button:checked {
	padding: 1px 3px 1px;
	border-radius: 8px;
	border-style: solid;
	border-width: 1px;
	border-color: @switch_slider_color;
	background-color: transparent;
	background-image: linear-gradient(to bottom,
	                                  shade(@button_color_a, 1.4),
					  shade(@botton_color_mt, 1.4) 49%,
					  shade(@botton_color_mb, 1.4) 51%,
	                                  shade(@button_color_b, 1.4));
}
.osd.button:hover,
.osd .button:hover,
.osd button:hover,
.osd .button:hover:active,
.osd .button:hover:checked,
.osd button:hover:checked,
.osd.button:active:hover,
.osd .button:active:hover,
.osd.button:checked:hover,
.osd .button:checked:hover,
.osd button:checked:hover {
	padding: 1px 3px 1px;
	border-radius: 8px;
	border-style: solid;
	border-width: 1px;
	border-color: @switch_slider_color;
	background-color: transparent;
	background-image: linear-gradient(to top,
	                                  shade(@button_color_a, 1.8),
					  shade(@botton_color_mt, 1.8) 49%,
					  shade(@botton_color_mb, 1.8) 51%,
	                                  shade(@button_color_b, 1.8));
}
.osd.button:disabled,
.osd .button:disabled,
.osd button:disabled,
.osd.button:active:disabled,
.osd .button:active:disabled,
.osd button:active:disabled,
.osd.button:disabled:active,
.osd .button:disabled:active,
.osd.button:checked:disabled,
.osd .button:checked:disabled,
.osd button:checked:disabled,
.osd.button:disabled:checked,
.osd .button:disabled:checked,
.osd button:disabled:checked,
.osd .button:active *:disabled,
.osd .button:checked *:disabled,
.osd button:checked *:disabled {
	padding: 1px 3px 1px;
	border-radius: 8px;
	border-style: solid;
	border-width: 1px;
	border-color: transparent;
	background-color: transparent;
	color: @fg_color;
	background-image: linear-gradient(to bottom,
	                                  alpha(@button_color_a, 0.5),
					  alpha(@botton_color_mt, 0.5) 49%,
					  alpha(@botton_color_mb, 0.5) 51%,
	                                  alpha(@button_color_b, 0.5));
}
.osd.toolbar,
.osd toolbar {
	color: @fg_color;
	padding: 1px 3px 1px;
	border-style: none;
	border-radius: 8px;
	background-image: url("assets/background.svg");
	background-color: @bg_color;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-color: transparent;
}
.osd.toolbar .button,
.osd toolbar button {
	padding: 1px 3px 1px;
	border-width: 1px 0;
	border-radius: 8px;
	box-shadow: none;
}
.osd.toolbar .button:first-child,
.osd toolbar button:first-child {
	border-radius: 5px 0 0 5px;
	border-width: 1px 0 1px 1px;
	box-shadow: none;
}
.osd.toolbar .button:last-child,
.osd toolbar button:last-child {
	box-shadow: none;
	border-radius: 0 5px 5px 0;
	border-width: 1px 1px 1px 0;
}
.osd.toolbar .button:only-child,
.osd.toolbar GtkToolButton .button,
.osd.toolbar GtkToolButton:only-child .button,
.osd.toolbar GtkToolButton:last-child .button,
.osd.toolbar GtkToolButton:first-child .button,
.osd toolbar button:only-child,
.osd toolbar toolbutton button,
.osd toolbar toolbutton:only-child button,
.osd toolbar toolbutton:last-child button,
.osd toolbar toolbutton:first-child button {
	border-width: 1px;
	border-radius: 8px;
	border-style: solid;
	box-shadow: none;
}
.osd.toolbar .separator {
	color: @darker_color;
}
.osd.trough,
.osd trough {
	background-color: @bg_color;
}
.osd.progressbar,
.osd progressbar {
	background-color: @progressbar_bg_a;
}
.osd .scale.trough,
.osd scale trough {
	border-color: @main_color;
	background-image: linear-gradient(to bottom,
	                                  shade(@bg_color, 1.2),
	                                  shade(@bg_color, 0.8));
	background-color: transparent;
}
.osd GtkProgressBar,
GtkProgressBar.osd,
progressbar.osd {
	padding: 0;
}
.osd GtkProgressBar.trough,
GtkProgressBar.osd.trough,
progressbar.osd trough {
	padding: 0;
	border-image: none;
	border-style: none;
	border-width: 0;
	background-image: none;
	background-color: transparent;
	border-radius: 0;
}
.osd GtkProgressBar.progressbar,
GtkProgressBar.osd.progressbar,
progressbar.osd progress {
	border-style: none;
	background-color: shade(@progressbar_bg_b, 1.3);
	background-image: linear-gradient(to bottom,
	                                  @progressbar_bg_a,
	                                  @progressbar_bg_b);
	border-radius: 0;    
}
/* GtkAssistant */
GtkAssistant .sidebar .highlight,
assistant .sidebar label.highlight {
	color: @fg_color;
	background-color: @bg_color;
	border-style: none;
	padding: 5px 6px;
	border-radius: 0px;
	box-shadow: inset 0px 2px 0px alpha(@main_color, 0.1),
	            inset 1px 1px 0px alpha(@main_color, 0.33),
	            inset 0 0px 0px black,
	            inset 0px 0px 0px black;
}
GtkAssistant .sidebar,
assistant .sidebar {
	padding: 6px;
	border-radius: 0px;
	border-style: none;
	border-width: 0px;
	color: @fg_color;
	background-color: shade(@view_color, 0.8);
}
/* GtkSwitch */
switch {
	font-weight: normal;
	color: @fg_color;
}
switch trough {
	color: @fg_color;
	border-style: solid;
	border-color: @main_color;
	border-width: 1px;
	border-radius: 7px;
}
switch trough:active,
switch:checked {
	color: @main_color;
	background-image: linear-gradient(to bottom,
	                                  shade(@selected_bg_color, 1.3),
	                                  shade(@selected_bg_color, 1.7));
}
switch trough:disabled,
switch:disabled {
	background-image: none;
	background-color: shade(@bg_color, 1.9);
	color: shade(@fg_color, 0.8);
}
switch slider {
	border-radius: 7px;
	border-width: 2px;
	border-color: @main_color;
	padding: 0px;
	color: @fg_color;
	border-style: solid;
	background-image: url("assets/switch-slider-grip.svg"),
	                  linear-gradient(to bottom,
	                                  @button_color_a,
					  @botton_color_mt 49%,
					  @botton_color_mb 51%,
	                                  @button_color_b);
	background-repeat: no-repeat;
	background-position: center;
}
switch slider:disabled {
	color: @fg_color;
	background-image: none;
	background-color: shade(@switch_slider_color, 1.2);
}
GtkStatusbar {
	padding: 2px;
	color: @fg_color;
}
GtkStatusbar .frame {
	background-image: none;
	background-color: transparent;
}
scrolledwindow {
	background-color: transparent;
}
scrolledwindow viewport.frame {
	border-style: none;
}
image,
image:hover,
image:active,
image:hover:active,
image:disabled,
label,
label:hover,
label:active,
label:hover:active,
label:disabled,
GtkBox,
GtkBox:disabled,
GtkGrid,
GtkGrid:disabled {
	background-image: none;
	background-color: transparent;
}
viewport,
iconview {
	border-radius: 8px;
	padding: 0px;
}
iconview.view.cell:selected,
iconview.view.cell:selected:focus {
	background-color: transparent;
	border-style: solid;
	border-width: 3px;
	border-radius: 8px;
	border-color: @main_color;
	color: @fg_color;
	outline-color: @progressbar_border;
	outline-style: solid;
	outline-offset: 3px;
}
EMailDisplay,
EPreviewPane entry {
	background-color: @view_color;
	color: @fg_color;
}
EMailDisplay .expander:hover {
	color: @fg_color;
	border-color: @main_color;
}
EMailDisplay GtkExpander label,
GtkHTML GtkExpander label,
GtkHTML:active {
	color: @fg_color;
}
EShellWindow *:active {
	background-color: @less_dark_color;
}
EShellWindow button *:active,
EShellWindow button *:checked {
	background-color: transparent;
}
EShellWindow:disabled {
	background-color: @bg_color;
}
/* Color Chooser */
colorswatch,
colorswatch:selected {
	background-image: none;
	background-color: transparent;
	border-style: solid;
	border-color: transparent;
	border-width: 1px;
}
colorswatch.dark overlay:hover {
	background-image: linear-gradient(to bottom,
	                                  alpha(white, 0) 40%,
	                                  alpha(white, 0.3));
}
colorswatch.light overlay:hover {
	background-image: linear-gradient(to top,
	                                  alpha(black, 0) 40%,
	                                  alpha(black, 0.1));
}
colorswatch overlay:selected {
	border-style: solid;
	border-width: 1px;
}
colorswatch.light overlay:selected {
	border-color: alpha(black, 0.5);
	color: black;
}
colorswatch.dark overlay:selected {
	border-color: alpha(white, 0.5);
	color: white;
}
colorswatch.light overlay:selected:hover {
	border-color: alpha(black, 0.8);
}
colorswatch.dark overlay:selected:hover {
	border-color: alpha(white, 0.8);
}
colorswatch.light overlay:selected,
colorswatch.dark overlay:selected,
colorswatch.light overlay:selected:hover,
colorswatch.dark overlay:selected:hover {
	background-image: none;
	background-color: transparent;
}
/* Radio and Check Buttons */
GtkCheckButton,
GtkRadioButton,
radio,
check,
radio:selected, 
check:selected,
radio:selected:focus, 
check:selected:focus,
cell.radio,
cell.check,
cell.radio:selected, 
cell.check:selected,
cell.radio:selected:focus, 
cell.check:selected:focus {
	background-color: transparent;
	border-width: 1px;
	border-style: solid;
	border-color: shade(@light_frame_color, 0.8);
}
check:hover,
check:selected:hover,
radio:hover,
radio:selected:hover,
treeview.view check:selected:focus,
treeview.view check:selected,
treeview.view radio:selected:focus,
treeview.view radio:selected {
	background-color: transparent;
	border-width: 1px;
	border-style: solid;
	border-color: shade(@light_frame_color, 1.2);
}
/* GtkCheckButton */
GtkCheckButton:hover {
	background-color: alpha(@main_color, 0.7);
}
GtkCheckButton:selected:hover {
	background-color: alpha(@main_color, 0.5);
}
/* GtkRadioButton */
GtkRadioButton:hover {
	background-color: alpha(@main_color, 0.7);
}
GtkRadioButton:selected:hover {
	background-color: alpha(@main_color, 0.5);
}
/* Expanders */
.expander {
	border-style: solid;
	border-width: 1px;
	border-radius: 2px;
	border-color: @main_color;
	color: @light_frame_color;
	background-image: none;
	background-color: transparent;
}
.expander:active {
	border-color: @main_color;
	color: @light_frame_color;
	background-color: transparent;
}
.expander:hover {
	border-color: @main_color;
	color: @progressbar_border;
}
.expander row {
	border-color: @main_color;
	color: @light_frame_color;
}
.expander row:selected,
.expander row:selected:focus {
	border-image: none;
	border-color: shade(@progressbar_border, 1.3);
	color: shade(@progressbar_border, 1.3);
	background-image: none;
	background-color: transparent;
}
.expander row:selected:hover {
	background-color: transparent;
}
.expander column:sorted:selected,
.expander column:sorted:selected:hover {
	background-image: none;
	background-color: transparent;
}
/* Content view */
.content-view.view {
	background-color: @bg_color;
}
.content-view.view:hover {
	background-color: shade(@bg_color, 1.1);
	color: @fg_color;
}
.content-view.view:selected,
.content-view.view:active {
	background-color: @bg_color;
}
.content-view.view:disabled {
	background-color: @less_dark_color;
}
GdMainIconView.content-view {
	-GdMainIconView-icon-size: 16px;
}
iconview.content-view.check {
	background-image: url("assets/grid-selection-unchecked.svg");
	background-color: transparent;
}
iconview.content-view.check:active,
iconview.content-view.check:checked {
	background-image: url("assets/grid-selection-checked.svg");
	background-color: transparent;
}
.content-view.view.check,
.content-view.view.check:active,
.content-view.view.check:checked,
iconview.content-view.check:hover,
iconview.content-view.check:disabled,
iconview.content-view.check:selected {
	background-color: transparent;
}
/* App Notifications */
.app-notification {
	border-style: solid;
	border-color: @main_color;
	border-width: 0 1px 1px 1px;
	border-radius: 0 0 5px 5px;
	padding: 8px;
	background-image: linear-gradient(to bottom,
	                                  shade(@bg_color, 1.6),
	                                  shade(@bg_color, 1.6) 20%,
	                                  @bg_color 30%,
	                                  @bg_color);
	color: @fg_color;
	text-shadow: 0 1px black;
}
/* Calendars */
calendar.view {
	border-radius: 8px;
	border-width: 1px;
	border-style: solid;
	border-color: @main_color;
	padding: 2px;
	background-image: radial-gradient(ellipse at center,
					shade(@view_color, 1.2),
					shade(@view_color, 0.6));
}
calendar.header {
	border-radius: 8px;
	border-style: solid;
	border-color: @main_color;
	border-width: 2px 0px 2px 1px;
	background-image: linear-gradient(to bottom,
					shade(@bg_color, 2.0),
					shade(@bg_color, 0.5));
}
calendar.button,
calendar*:active {
	padding: 1px 6px 1px;
	border-radius: 8px;
	background-image: linear-gradient(to bottom,
	                                  shade(@button_color_a, 1.4),
					  shade(@botton_color_mt, 1.4) 49%,
					  shade(@botton_color_mb, 1.4) 51%,
	                                  shade(@button_color_b, 1.4));
}
calendar*:selected,
calendar*:selected:focus {
	padding: 1px 6px 1px;
	border-radius: 8px;
	background-image: linear-gradient(to bottom,
	                                  shade(@selected_bg_color, 1.4),
	                                  shade(@selected_bg_color, 1.1) 49%,
	                                  shade(@selected_bg_color, 1.05) 51%,
	                                  shade(@selected_bg_color, 1.2));
}
calendar.button:disabled {
	padding: 1px 6px 1px;
	border-radius: 8px;
	background-image: linear-gradient(to bottom,
	                                  alpha(@button_color_a, 0.5),
	                                  alpha(@button_color_mb, 0.5) 49%,
	                                  alpha(@button_color_mt, 0.5) 49%,
	                                  alpha(@button_color_b, 0.5));
}
.highlight,
calendar.highlight {
	background-color: @bg_color;
	color: shade(@selected_bg_color, 1.9);
	border-radius: 0;
	padding: 0px;
	border-width: 14px;
}
/* GtkInfoBar */
infobar {
	border-width: 0;
	border-style: none;
}
.info {
	background-color: @notebook_button_a;
	color: @fg_color;
}
.warning {
	background-color: @button_color_a;
	color: @main_color;
}
.question {
	background-color: @notebook_button_a;
	color: @fg_color;
}
.error {
	background-color: @progressbar_bg_a;
	color: @main_color;
}
label {
	color: @fg_color;
}
/* Dim labels */
.dim-label,
.dim-label:hover,
.dim-label:focus,
.view.dim-label {
	color: mix (@fg_color, @bg_color, 0.50);
	text-shadow: none;
}
.dim-label:selected,
.dim-label:selected:focus {
	color: mix (@selected_bg_color, @bg_color, 0.50);
	text-shadow: none;
}
/* Sidebar */
.sidebar {
	color: @fg_color;
	background-color: transparent;
}
.sidebar > separator,
.sidebar  > separator:hover {
	color: @darker_color;
}
stacksidebar.sidebar row {
	padding: 2px 0px;
}
stacksidebar.sidebar row > label {
	padding-left: 0px;
	padding-right: 0px;
}
stacksidebar.sidebar row.needs-attention > .label {
	background-size: 0px 0px, 0 0;
}
/* File Chooser */
placessidebar row {
	min-height: 15px;
	padding: 2px;
}
placessidebar row > revealer {
	padding: 2px;
}
placessidebar row image.sidebar-icon:dir(ltr) {
	padding-right: 2px;
}
placessidebar row image.sidebar-icon:dir(rtl) {
	padding-left: 2px;
}
placessidebar row label.sidebar-label:dir(ltr) {
	padding-right: 2px;
}
placessidebar row label.sidebar-label:dir(rtl) {
	padding-left: 2px;
}
revealer > box {
	color: @fg_color;
	background-image: url("assets/background.svg");
	background-color: @bg_color;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
revealer > button,
revealer button {
	border-radius: 8px;
	padding: 1px 3px 1px;
	background-image: linear-gradient(to bottom,
	                                  @button_color_a,
					  @botton_color_mt 49%,
					  @botton_color_mb 51%,
	                                  @button_color_b);
	margin: 1px 3px;
}
revealer button:active,
revealer button:checked {
	border-radius: 8px;
	padding: 1px 3px 1px;
	background-image: linear-gradient(to bottom,
	                                  @notebook_button_a,
					  @notebook_button_b);
	margin: 1px 3px;
}
/* Nemo's Breadcrumb */
NautilusPathbarButton:checked,
NautilusPathbarButton:active,
NemoPathbarButton:checked,
NemoPathbarButton:active {
	padding: 1px 2px 1px;
	border-radius: 8px;
	border-style: solid;
	border-width: 1px;
	border-color: @button_color_b;
	background-color: transparent;
	background-image: linear-gradient(to bottom,
					  @notebook_button_a,
					  @notebook_button_b);
	margin: 2px 8px;
}
/* Nemo's Inactive Pane */
.nemo-inactive-pane .view {
	background-color: transparent;
}
.nemo-inactive-pane .notebook.header {
        border-width: 1px;
	border-radius: 8px;
	padding: 1px 2px 1px;
	margin: 2px 6px;
}
.nemo-inactive-pane .notebook {
        border-width: 1px;
	border-radius: 8px;
	padding: 1px 2px 1px;
	margin: 2px 6px;
	background-color: @view_color;
	color: @fg_color;
}
.nemo-inactive-pane .notebook tab,
.nemo-inactive-pane .notebook tab:active,
.nemo-inactive-pane .notebook tab.top,
.nemo-inactive-pane .notebook tab.top:active,
.nemo-inactive-pane .notebook,
.nemo-inactive-pane .notebook tab
.nemo-inactive-pane .notebook tab:active,
.nemo-inactive-pane .notebook tab.left:active,
.nemo-inactive-pane .notebook tab.right:active,
.nemo-inactive-pane .notebook tab.bottom:active {
        border-width: 1px;
	border-radius: 8px;
	padding: 1px 2px 1px;
	margin: 2px 6px;
	background-image: linear-gradient(to bottom,
	                                  @button_color_a,
					  @botton_color_mt 49%,
					  @botton_color_mb 51%,
	                                  @button_color_b);
}
/* Client Side Decoration */
tooltip * {
	color: @fg_color;
	border-radius: 8px;
	background-image: url("assets/bg-tooltip.svg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin: -3px;
	min-height: 1.5em;
	box-shadow: 0 6px 10px #050505;
}
*:disabled,
.background:hover,
.background:disabled {
	color: @fg_color;
	background-color: transparent;
}
window.background.chromium,
.background {
	color: @fg_color;
	background-image: url("assets/background.svg");
	background-color: @bg_color;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
tooltip.csd decoration,
.window-frame.csd.tooltip,
.window-frame.csd.message-dialog,
.window-frame.solid-csd,
.window-frame,
.solid-csd decoration,
.window-frame.csd.popup,
.csd.popup decoration,
messagedialog.csd decoration,
decoration {
	border-radius: 0px;
	border-style: solid;
	border-color: @main_color;
	border-width: 2px;
	box-shadow: 0 0 10px 10px #050505,
	      	inset 0 0 10px 10px #050505;
	margin: 6px;
}
.titlebar,
headerbar {
	background-color: transparent;
	background-image: url("assets/background.svg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding: 2px;
}
.titlebar .titlebutton,
.titlebar button.titlebutton:active,
.titlebar .titlebutton:active,
headerbar button.text-button,
headerbar button.titlebutton:active,
headerbar button.image-button,
headerbar button.titlebutton:hover:active,
.titlebar button.titlebutton:hover:active,
headerbar button.text-button:hover,
headerbar button.image-button:hover {
	padding: 0px;
	margin: 0px 8px;
	border-radius:0px;
}
.titlebar .titlebutton:hover,
.titlebar button.titlebutton:checked,
headerbar button.titlebutton:checked,
headerbar button.titlebutton:hover:checked,
.titlebar button.titlebutton:hover:checked {
	padding: 0px;
	border-radius:0px;
	background-image: linear-gradient(to bottom,
	                                  alpha(@progressbar_bg_a, 1.4),
	                                  alpha(@progressbar_bg_a, 0.3));
	margin: 0px 8px;
}
.titlebar button.titlebutton:active:disabled,
.titlebar button.titlebutton:hover:checked:disabled,
.titlebar button.titlebutton:disabled:active,
.titlebar button.titlebutton:hover:disabled:checked,
headerbar button.titlebutton:active:disabled,
headerbar button.titlebutton:hover:checked:disabled,
headerbar button.titlebutton:disabled:active,
headerbar button.titlebutton:hover:disabled:checked {
	padding: 0px;
	border-radius:0px;
	border-image: url("assets/menuitem-hiver-border-dark.svg") 1 / 1px stretch;
	background-image: linear-gradient(to bottom,
	                                  alpha(@button_color_a, 0.5),
					  alpha(@botton_color_mt, 0.5) 49%,
					  alpha(@botton_color_mb, 0.5) 51%,
	                                  alpha(@button_color_b, 0.5));
	margin: 2px 5px;
}
headerbar button.titlebutton.close,
headerbar button.titlebutton.maximize,
headerbar button.titlebutton.minimize,
.titlebar button.titlebutton.close,
.titlebar button.titlebutton.maximize,
.titlebar button.titlebutton.minimize {
    color: transparent;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    border-radius:0px;
    padding:0px;
    border: none;
}
headerbar button.titlebutton.close:backdrop,
headerbar button.titlebutton.maximize:backdrop,
headerbar button.titlebutton.minimize:backdrop,
.titlebar button.titlebutton.close:backdrop,
.titlebar button.titlebutton.maximize:backdrop,
.titlebar button.titlebutton.minimize:backdrop {
    opacity: 1;
}
headerbar button.titlebutton.close,
.titlebar button.titlebutton.close,
headerbar button.titlebutton.close:backdrop,
.titlebar button.titlebutton.close:backdrop,
headerbar button.titlebutton.close:active,
.titlebar button.titlebutton.close:active,
headerbar button.titlebutton.maximize,
.titlebar button.titlebutton.maximize,
headerbar button.titlebutton.maximize:backdrop,
.titlebar button.titlebutton.maximize:backdrop,
headerbar button.titlebutton.maximize:active,
.titlebar button.titlebutton.maximize:active,
headerbar button.titlebutton.minimize,
.titlebar button.titlebutton.minimize,
headerbar button.titlebutton.minimize:backdrop,
.titlebar button.titlebutton.minimize:backdrop,
headerbar button.titlebutton.minimize:active,
.titlebar button.titlebutton.minimize:active {
    background-image: -gtk-scaled(url("assets/passiv25.png"), url("assets/passiv80.png"));
}
headerbar button.titlebutton.close:hover,
.titlebar button.titlebutton.close:hover {
    background-image: -gtk-scaled(url("assets/close25.png"), url("assets/close80.png"))
}
headerbar button.titlebutton.maximize:hover,
.titlebar button.titlebutton.maximize:hover {
    background-image: -gtk-scaled(url("assets/maximize25.png"), url("assets/maximize80.png"));
}
headerbar button.titlebutton.minimize:hover,
.titlebar button.titlebutton.minimize:hover {
    background-image: -gtk-scaled(url("assets/hide25.png"), url("assets/hide80.png"));
}
/* GtkPopover (GtkVolumeButton) */
popover {
	border-radius: 8px;
	background-clip: border-box;
	border-color: @main_color;
	border-width: 2px;
	border-style: solid;
	box-shadow: 0 2px 7px #050505;
	margin: 0px 3px;
}
popover button:hover {
	padding: 1px 3px 1px;
	border-radius: 8px;
	border-width: 0px;
	background-image: linear-gradient(to bottom,
	                                  shade(@selected_bg_color, 1.2),
	                                  shade(@selected_bg_color, 0.9) 49%,
	                                  shade(@selected_bg_color, 0.85) 51%,
	                                  shade(@selected_bg_color, 1.0));
	margin: 1px 3px;
}
popover button,
popover button:active,
popover button:disabled {
	padding: 1px 1px 1px;
	border-radius: 8px;
	border-width: 0px;
	background: none;
	background-image: none;
	border-style: none;
	border-image: none;
	margin: 2px 8px;
}
modelbutton.flat,
popover.background checkbutton,
popover.background radiobutton,
.menuitem.button.flat {
	min-height: 22px;
	padding: 1px 3px 1px;
	border-radius: 8px;
	border-style: solid;
	border-width: 0px;
	border-image: none;
	border-color: transparent;
	background: none;
}
modelbutton.flat:hover,
popover.background checkbutton:hover,
popover.background radiobutton:hover,
.menuitem.button.flat:hover {
	border-radius: 8px;
	background-color: transparent;
	background-image: linear-gradient(to bottom,
	                                  shade(@selected_bg_color, 1.2),
	                                  shade(@selected_bg_color, 0.9) 49%,
	                                  shade(@selected_bg_color, 0.85) 51%,
	                                  shade(@selected_bg_color, 1.0));
}
modelbutton.flat check:last-child,
popover.background checkbutton check:last-child,
popover.background radiobutton check:last-child,
modelbutton.flat radio:last-child,
popover.background checkbutton radio:last-child,
popover.background radiobutton radio:last-child,
.menuitem.button.flat check:last-child,
.menuitem.button.flat radio:last-child {
	margin-left: 8px;
}
modelbutton.flat check:first-child,
popover.background checkbutton check:first-child,
popover.background radiobutton check:first-child,
modelbutton.flat radio:first-child,
popover.background checkbutton radio:first-child,
popover.background radiobutton radio:first-child,
.menuitem.button.flat check:first-child,
.menuitem.button.flat radio:first-child {
	margin-right: 8px;
}
modelbutton.flat arrow,
popover.background checkbutton arrow,
popover.background radiobutton arrow,
modelbutton.flat arrow:hover,
popover.background checkbutton arrow:hover,
popover.background radiobutton arrow:hover {
	background: none;
}
modelbutton.flat arrow.left,
popover.background checkbutton arrow.left,
popover.background radiobutton arrow.left {
	-gtk-icon-source: -gtk-icontheme("pan-start-symbolic");
}
modelbutton.flat arrow.right,
popover.background checkbutton arrow.right,
popover.background radiobutton arrow.right {
	-gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
}
/* Set Assets*/
/* Check and Radio items */
menuitem radio,
menuitem radio:hover,
menuitem radio:disabled,
menuitem.check,
menuitem.check:hover,
menuitem.check:disabled {
	background-color: transparent;
	border-style: none;
	border-image: none;
}
menuitem.radio,
menuitem radio {
	-gtk-icon-source: url("assets/radio-menuitem-unchecked.svg");
}
menuitem.radio:hover,
menuitem radio:hover {
	-gtk-icon-source: url("assets/radio-menuitem-unchecked-prelight.svg");
}
menuitem.radio:disabled,
menuitem radio:disabled {
	-gtk-icon-source: url("assets/radio-unselected-insensitive-dark.svg");
}
menuitem.radio:active,
menuitem.radio:checked,
menuitem radio:active,
menuitem radio:checked {
	-gtk-icon-source: url("assets/radio-menuitem-checked.svg");
}
menuitem.radio:active:hover,
menuitem.radio:checked:hover,
menuitem radio:active:hover,
menuitem radio:checked:hover {
	-gtk-icon-source: url("assets/radio-menuitem-checked-prelight.svg");
}
menuitem.radio:active:disabled,
menuitem.radio:disabled:active,
menuitem.radio:checked:disabled,
menuitem.radio:disabled:checked.
menuitem radio:active:disabled,
menuitem radio:disabled:active,
menuitem radio:checked:disabled,
menuitem radio:disabled:checked {
	-gtk-icon-source: url("assets/radio-menuitem-checked-insensitive.svg");
}
menuitem.radio:indeterminate,
menuitem radio:indeterminate {
	-gtk-icon-source: url("assets/radio-menuitem-mixed.svg");
}
menuitem.radio:indeterminate:hover,
menuitem radio:indeterminate:hover {
	-gtk-icon-source: url("assets/radio-menuitem-mixed-prelight.svg");
}
menuitem.radio:indeterminate:disabled,
menuitem radio:indeterminate:disabled {
	-gtk-icon-source: url("assets/radio-menuitem-mixed-insensitive.svg");
}
menuitem.check,
menuitem check {
	-gtk-icon-source: url("assets/checkbox-menuitem-unchecked.svg");
}
menuitem.check:hover,
menuitem check:hover {
	-gtk-icon-source: url("assets/checkbox-menuitem-unchecked-prelight.svg");
}
menuitem.check:active,
menuitem.check:checked,
menuitem check:active,
menuitem check:checked {
	-gtk-icon-source: url("assets/checkbox-menuitem-checked.svg");
}
menuitem.check:active:hover,
menuitem.check:checked:hover,
menuitem check:active:hover,
menuitem check:checked:hover {
	-gtk-icon-source: url("assets/checkbox-menuitem-checked-prelight.svg");
}
menuitem.check:active:disabled,
menuitem.check:disabled:active,
menuitem.check:checked:disabled,
menuitem.check:disabled:checked,
menuitem check:active:disabled,
menuitem check:disabled:active,
menuitem check:checked:disabled,
menuitem check:disabled:checked {
	-gtk-icon-source: url("assets/checkbox-menuitem-checked-insensitive.svg");
}
menuitem.check:indeterminate,
menuitem check:indeterminate {
	-gtk-icon-source: url("assets/checkbox-menuitem-mixed.svg");
}
menuitem.check:indeterminate:hover,
menuitem check:indeterminate:hover {
	-gtk-icon-source: url("assets/checkbox-menuitem-mixed-prelight.svg");
}
menuitem.check:indeterminate:disabled,
menuitem check:indeterminate:disabled {
	-gtk-icon-source: url("assets/checkbox-menuitem-mixed-insensitive.svg");
}
check:indeterminate,
check:indeterminate:hover,
check row:selected:indeterminate,
check row:selected:focus:indeterminate,
check:indeterminate.button.flat,
check:indeterminate:hover.button.flat,
check row:selected:indeterminate.button.flat,
check row:selected:focus:indeterminate.button.flat {
	-gtk-icon-source: url("assets/checkbox-mixed-dark.svg");
}
check:indeterminate:disabled,
check row:selected:indeterminate:disabled,
check row:selected:focus:indeterminate:disabled,

check:indeterminate:disabled.button.flat,
check row:selected:indeterminate:disabled.button.flat,
check row:selected:focus:indeterminate:disabled.button.flat {
	-gtk-icon-source: url("assets/checkbox-mixed-insensitive-dark.svg");
}
check,
check:hover,
check row:selected,
check row:selected:focus,
check.button.flat,
check:hover.button.flat,
check row:selected.button.flat,
check row:selected:focus.button.flat {
	-gtk-icon-source: url("assets/checkbox-unchecked-dark.svg");
}
check:disabled,
check row:selected:disabled,
check row:selected:focus:disabled,
check:disabled.button.flat,
check row:selected:disabled.button.flat,
check row:selected:focus:disabled.button.flat {
	-gtk-icon-source: url("assets/checkbox-unchecked-insensitive-dark.svg");
}
check:active,
check row:selected:active,
check row:selected:focus:active,
check:active.button.flat,
check row:selected:active.button.flat,
check row:selected:focus:active.button.flat,
check:checked,
check:checked:hover,
check row:selected:checked,
check row:selected:focus:checked,
check:checked.button.flat,
check:checked:hover.button.flat,
check row:selected:focus:checked.button.flat {
	-gtk-icon-source: url("assets/checkbox-checked-dark.svg");
}
check:active:disabled,
check row:selected:active:disabled,
check row:selected:focus:active:disabled,
check:active:disabled.button.flat,
check row:selected:active:disabled.button.flat,
check row:selected:focus:active:disabled.button.flat,
check:checked:disabled,
check row:selected:checked:disabled,
check row:selected:focus:checked:disabled,
check:checked:disabled.button.flat,
check row:selected:checked:disabled.button.flat,
check row:selected:focus:checked:disabled.button.flat {
	-gtk-icon-source: url("assets/checkbox-checked-insensitive-dark.svg");
}
radio:indeterminate,
radio:indeterminate:hover,
radio row:selected:indeterminate,
radio row:selected:focus:indeterminate,
radio:indeterminate.button.flat,
radio:indeterminate:hover.button.flat,
radio row:selected:indeterminate.button.flat,
radio row:selected:focus:indeterminate.button.flat {
	-gtk-icon-source: url("assets/radio-mixed-dark.svg");
}
radio:indeterminate:disabled,
radio row:selected:indeterminate:disabled,
radio row:selected:focus:indeterminate:disabled,
radio:indeterminate:disabled.button.flat,
radio row:selected:indeterminate:disabled.button.flat,
radio row:selected:focus:indeterminate:disabled.button.flat {
	-gtk-icon-source: url("assets/radio-mixed-insensitive-dark.svg");
}
radio,
radio:hover,
radio row:selected,
radio row:selected:focus,
radio.button.flat,
radio:hover.button.flat,
radio row:selected.button.flat,
radio row:selected:focus.button.flat {
	-gtk-icon-source: url("assets/radio-unselected-dark.svg");
}
radio:disabled,
radio row:selected:disabled,
radio row:selected:focus:disabled {
	-gtk-icon-source: url("assets/radio-unselected-insensitive-dark.svg");
}
radio:active,
radio row:selected:active,
radio row:selected:focus:active,
radio:active.button.flat,
radio row:selected:active.button.flat,
radio row:selected:focus:active.button.flat,
radio:checked,
radio:checked:hover,
radio row:selected:focus:checked,
radio:checked.button.flat,
radio:checked:hover.button.flat,
radio row:selected:focus:checked.button.flat {
	-gtk-icon-source: url("assets/radio-selected-dark.svg");
}
radio:active:disabled,
radio row:selected:active:disabled,
radio row:selected:focus:active:disabled,
radio:active:disabled.button.flat,
radio row:selected:active:disabled.button.flat,
radio row:selected:focus:active:disabled.button.flat,
radio:checked:disabled,
radio row:selected:checked:disabled,
radio row:selected:focus:checked:disabled,
radio:checked:disabled.button.flat,
radio row:selected:checked:disabled.button.flat,
radio row:selected:focus:checked:disabled.button.flat {
	-gtk-icon-source: url("assets/radio-selected-insensitive-dark.svg");
}
.sidebar .radio:active,
.sidebar .radio:active:focus,
.sidebar .radio:active:hover,
.sidebar .radio:checked,
.sidebar .radio:checked:focus,
.sidebar .radio:checked:hover {
	-gtk-icon-source: url("assets/sidebar-radio-checked-dark.svg");
}
.sidebar .radio:hover {
	-gtk-icon-source: url("assets/sidebar-radio-prelight.svg");
}
.sidebar .radio:active:selected,
.sidebar .radio:active:selected:focus,
.sidebar .radio:checked:selected,
.sidebar .radio:checked:selected:focus {
	-gtk-icon-source: url("assets/sidebar-radio-selected-dark.svg");
}
.sidebar .radio:selected:hover,
.sidebar .radio:selected:focus {
	-gtk-icon-source: url("assets/sidebar-radio-selected-prelight.svg");    
}
.button.check,
.button.check:hover {
	border-style: none;
	border-image: none;
	background-image: url("assets/checkbox-unchecked-dark.svg");
}
.button.check:disabled {
	border-style: none;
	border-image: none;
	background-image: url("assets/checkbox-unchecked-insensitive-dark.svg");
}
.button.check:active,
.button.check:active:hover {
	background-image: url("assets/checkbox-checked-dark.svg");
}
.button.check:active:disabled {
	background-image: url("assets/checkbox-checked-insensitive-dark.svg");
}
.button.check:indeterminate,
.button.check:indeterminate:hover {
	background-image: url("assets/checkbox-mixed-dark.svg");
}
.button.check:indeterminate:disabled {
	background-image: url("assets/checkbox-mixed-insensitive-dark.svg");
}
/* Entries */
spinbutton,
entry,
switch trough,
switch,
switch trough:active,
switch:checked,
frame > border,
.frame,
calendar.view {
    border-image: url("assets/frame-border-dark.svg") 0 / 0px;
}
/* Sliders */
scale slider,
scale.horizontal slider {
	background-image: url("assets/knob_horizontal.svg");
}
scale slider:disabled,
scale.horizontal slider:disabled {
	background-image: url("assets/scale-slider-horizontal-insensitive-dark.svg");
}
scale.vertical slider {
	background-image: url("assets/knob_vertical.svg");
}
scale.vertical slider:disabled {
	background-image: url("assets/scale-slider-vertical-insensitive-dark.svg");
}
GtkScale.scale-has-marks-above.slider.horizontal {
	background-image: url("assets/scale-slider-marks-above-horizontal-dark.svg");
}
GtkScale.scale-has-marks-above.slider.horizontal:disabled {
	background-image: url("assets/scale-slider-marks-above-horizontal-insensitive-dark.svg");
}
GtkScale.scale-has-marks-above.slider.vertical {
	background-image: url("assets/scale-slider-marks-above-vertical-dark.svg");
}
GtkScale.scale-has-marks-above.slider.vertical:disabled {
	background-image: url("assets/scale-slider-marks-above-vertical-insensitive-dark.svg");
}
GtkScale.scale-has-marks-below.slider.horizontal {
	background-image: url("assets/scale-slider-marks-below-horizontal-dark.svg");
}
GtkScale.scale-has-marks-below.slider.horizontal:disabled {
	background-image: url("assets/scale-slider-marks-below-horizontal-insensitive-dark.svg");
}
GtkScale.scale-has-marks-below.slider.vertical {
	background-image: url("assets/scale-slider-marks-below-vertical-dark.svg");
}
GtkScale.scale-has-marks-below.slider.vertical:disabled {
	background-image: url("assets/scale-slider-marks-below-vertical-insensitive-dark.svg");
}
.cursor-handle.top {
	background-image: url("assets/scale-slider-marks-above-horizontal-dark.svg");
}
.cursor-handle.bottom {
	background-image: url("assets/scale-slider-marks-below-horizontal-dark.svg");
}
/* Scroll Bars */
scrollbar slider,
scrollbar.vertical slider,
scrolledwindow junction,
.scrollbars-junction {
	border-image: none;
	border-width: 0px;
}
