/* ###################################################################
 * Section common with Gnome Shell
 * ... contains a few cinnamon specific styles (rare occurences) 
 * ###################################################################*/
stage {
    font-family: Noto Sans, sans-serif;
}

.cinnamon-link {
    color: #0000ff;
    text-decoration: underline;
}

.cinnamon-link:hover {
    color: #0000e0;
}

.label-shadow {
    color: rgba(0,0,0,0.5);
}

StScrollView.vfade {
  -st-vfade-offset: 0px;
}

StScrollView StScrollBar {
     min-width: 17px;
     min-height: 17px;
}

StScrollBar {
     padding: 0px;
}

StScrollBar StBin#trough {
    background-color: rgba(0,0,0,0.2);
}

StScrollBar StButton#hhandle,
StScrollBar StButton#vhandle,
StScrollBar StButton#hhandle:hover,
StScrollBar StButton#vhandle:hover {
    border-image: url('handle-vert.png') 3;
}

.menu-applications-box StButton#vhandle {
    background: url('handle-vert.png') no-repeat center center;
}

.menu-applications-box StButton#vhandle:hover {
    background: url('handle-vert.png') no-repeat center center;
}


#Tooltip {
    border: 1px solid black;
    border-radius: 0px;
    padding: 2px 12px;
    background-gradient-end: #474747;
    background-gradient-start: #383338;
    background-gradient-direction: vertical;
    color: white;
    font-size: 8.5pt;
    font-weight: normal;    
    text-align: center;
}

/* ===================================================================
 * Shared button properties 
 * ===================================================================*/

.notification-button, .notification-icon-button,
.hotplug-notification-item, .hotplug-resident-eject-button,
.modal-dialog-button {
    color: white;
    bborder-image: url('button.png') 7;
    font-size: 8.5pt;
    font-weight: normal;    
    text-align: center;
}

.notification-button:hover,
.notification-icon-button:hover, .hotplug-notification-item:hover,
.hotplug-resident-eject-button:hover, .modal-dialog-button:hover {
     border-image: url('button-prelight.png') 7;
}

.notification-button:focus,
.notification-icon-button:focus, .hotplug-notification-item:focus,
.modal-dialog-button:focus {
     border-image: url('button-prelight.png') 7;
}

.notification-button:active, .notification-icon-button:active,
.hotplug-notification-item:active, .hotplug-resident-eject-button:active,
.modal-dialog-button:active, .modal-dialog-button:pressed {
     border-image: url('button-prelight.png') 7;
}

/* ===================================================================
 * User Applet
 * ===================================================================*/

.user-box {
    padding: .4em 1.5em;
    padding-bottom: .6em;
    spacing: 10px;
}

.user-icon {
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: 0 solid transparent;
    border-radius: 0;
    padding: 0;
    border-radius: 0;
    padding: 0;
}

.user-label {
    color: #fff;
    font-size: 10pt;
    font-weight: normal;
    margin: 0;
}

/* ===================================================================
 * PopupMenu (popupMenu.js) 
 * ===================================================================*/

.popup-menu-boxpointer {
    -arrow-border-radius: 16px;
    -boxpointer-gap: -1px;
    -arrow-base: 40px;
}

/* Cinnamon 3.2 fix */
.popup-menu,
.menu {
	/*background-gradient-start: rgba(24,24,24,1.0);
    background-gradient-end: rgba(24,24,24,1.0);
    background-gradient-direction: vertical;
    border: 2px solid #3888a2;*/
    border-image: url("menu-inner-bg.png");
    color: #fff;
    font-size: 9pt;
}
.popup-submenu-menu-item:open {
    background-color: #4c4c4c;
}
.popup-sub-menu {
    background-color: transparent;
}
.popup-sub-menu .popup-menu-item:ltr {
    padding-right: 0em;
}
.popup-sub-menu .popup-menu-item:rtl {
    padding-left: 0em;
}
.popup-sub-menu StScrollBar {
    padding: 4px;
}
.popup-sub-menu StScrollBar StBin#trough {
    border-width: 0px;
}
.popup-sub-menu StScrollBar StBin#vhandle {
    background-color: #4c4c4c;
    border-width: 0px;
}
.popup-combo-menu {
    background-color: rgba(0,0,0,0.9);
    padding: 0em 0em;
    color: #fff;
    font-size: 10.5pt;
    border: 1px solid #1466c9;
    border-radius: 0px 0px 8px 0px;
}
/* The remaining popup-menu sizing is all done in ems, so that if you
 * override .popup-menu.font-size, everything else will scale with it.
 */
.popup-menu-content {
    padding: 1em 0;
}
.popup-menu-item {
    padding: .4em 1.75em;
    spacing: 1em;
    border: 2px solid transparent;
}
.popup-menu-item:active {
    background-image: url("hover.png");
    background-size: cover;
    background-color: transparent;
    color: white;
}
.popup-menu-item:insensitive {
    color: #9f9f9f;
}
.popup-image-menu-item {
}
.popup-combobox-item {
    spacing: 1em;
}
.popup-separator-menu-item {
    -gradient-height: 1px;
    -gradient-start: rgba(0,0,0,0);
    -gradient-end: rgba(255,255,255,0.2);
    height: 1px;
}
.popup-alternating-menu-item:alternate {
    font-weight: bold;
}
.popup-slider-menu-item {
    height: 1em;
    min-width: 15em;
    -slider-height: 0.3em;
    -slider-background-color: #666666;
    -slider-border-color: #555555;
    -slider-active-background-color: #1466c9;
    -slider-active-border-color: #DDDDDD;
    -slider-border-width: 1px;
    -slider-handle-radius: 0.5em;
}
.popup-device-menu-item {
    spacing: .5em;
}
.popup-inactive-menu-item {
    font-weight: normal;
    color: #999;
}
.popup-subtitle-menu-item {
    font-weight: bold;
}
.popup-menu-icon {
    icon-size: 1.14em;
}

/* Switches (to be used in menus) */
.toggle-switch {
    width: 52px;
    height: 18px;
}

.toggle-switch-us, .toggle-switch-intl {
    background-image: url("checkbox-off.png");
}

.toggle-switch-us:checked, .toggle-switch-intl:checked {
    background-image: url("checkbox.png");
}

.nm-menu-item-icons {
    spacing: .5em;
}

/* ===================================================================
 * Panel (panel.js)
 * ===================================================================*/

#panel {
    color: #ffffff;
    background-color: transparent;
    font-size: 9pt;
    border-image: url('panel.png') 80 0 0 0;
    font-weight: bold;
}

#panelLeft, #panelCenter {
    spacing: 0px;
}

#panelRight {
    border-image: url('panel-right.png');
}

#panelLeft .applet-box:first-child {
    background-image: url('menu.png');
    background-size: contain;
}

#panelLeft .applet-box:first-child:hover {
    background-image: url('menu-hover.png');
    background-size: contain;
    border-image: none;
}

#panelLeft .applet-box:first-child:active {
    background-image: url('menu-active.png');
    background-size: contain;
    border-color: transparent;
    border-image: none;
    background-color: transparent;
}

#panelLeft:dnd {
    background: none;   
}

#panelCenter:dnd {
    background: none;    
}

#panelRight:dnd {
    background: none; 
}

#panelLeft:ltr {
    padding-right: 4px;
}

#panelLeft:rtl {
    padding-left: 4px;
}

#panelRight:ltr {
    padding-left: 0px;
    spacing: 0px;
}

#panelRight:rtl {
    padding-right: 0px;
    spacing: 0px;
}

.panel-top {
}

.panel-bottom {
}

.panel-status-button,
.panel-button {
    -natural-hpadding: 5px;
    -minimum-hpadding: 5px;
    font-weight: bold;
    border: 1px solid transparent;
    transition-duration: 150; 
}

.panel-status-button:hover,
.panel-button:hover {
    border-radius: 0px;
    transition-duration: 100;
}

.panel-status-button:active {
    color: white;
    border-image: url("tabs.png");
    background-gradient-direction: vertical;
    background-gradient-start: rgba(56,51,56,1.0);
    background-gradient-end: rgba(71,71,71,1.0);
}

.system-status-icon {
    padding-left: 0px;
    padding-right: 0px;    
    spacing: 0px;
    margin: 0px;
}

#appMenu {
    spacing: 4px;
}

.panel-button #appMenuIcon {
    app-icon-bottom-clip: 1px;
}

.panel-button:active #appMenuIcon,
.panel-button:checked #appMenuIcon,
.panel-button:focus #appMenuIcon {
    app-icon-bottom-clip: 2px;
}

.panel-button {
    -natural-hpadding: 6px;
    -minimum-hpadding: 2px;
    font-weight: bold;
    color: rgba(200,200,200,1);
    transition-duration: 100;
}

.panel-button:hover {
    border-image: url("tab.png");
    background-gradient-direction: vertical;
    background-gradient-start: rgba(0,0,0,1.0);
    background-gradient-end: rgba(255,255,255,1.0);
    color: white;
}

.panel-button:active,
.panel-button:overview,
.panel-button:focus {
    color: white;
    border-image: url("tabs.png");
    background-gradient-direction: vertical;
    background-gradient-start: rgba(56,51,56,1.0);
    background-gradient-end: rgba(71,71,71,1.0);
}

.panel-button:active > .system-status-icon,
.panel-button:checked > .system-status-icon,
.panel-button:focus > .system-status-icon {
    icon-shadow: black 0px 2px 2px;
}

.panel-menu {
}

.popup-menu-item-dot {

}

.system-status-icon {
    icon-size: 1.14em;
}

/* ===================================================================
 * Overview 
 * ===================================================================*/

#overview {
    spacing: 12px;
}

.window-caption {
    background-color: #383338;
    border-radius: 0px;
    color: white;
    spacing: 25px;
    font-size: 9pt;
    padding: 2px 8px;
    -cinnamon-caption-spacing: 4px;
}

.window-caption#selected {
    background-color: $474747;
    border-radius: 0px;
    color: white;
    spacing: 25px;
}

.workspace-controls {
    visible-height: 32px; /* Amount visible before hovering */
}

.workspace-thumbnails-background {
    border: 1px #383338;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-radius:  0px;
    background-color: #474747;
    padding: 8px;
}

.workspace-thumbnails-background:rtl {
    border-right: 1px;
    border-left: 0px;
    border-radius: 9px 9px 0px 0px;
}

.workspace-thumbnails {
    spacing: 14px;
}

.workspace-add-button {
    background-image: url("add-workspace.png");
    height: 200px;
    width: 35px;
    transition-duration: 300;
}

.workspace-add-button:hover {  
    background-image: url("add-workspace-hover.png");
    transition-duration: 300;
}

.workspace-close-button {
    background-image: url("close.png");
    height: 34px;
    width: 34px;
    -cinnamon-close-overlap: 20px;
}

.window-close:hover,
.window-close:active {
    background-image: url("close-hover.png");
}


.workspace-thumbnail-indicator {
    outline: 2px solid black;
    border: 1px solid #888;
}

.window-close {
    background-image: url("close.png");
    height: 34px;
    width: 34px;
    -cinnamon-close-overlap: 20px;
}

.window-close:rtl {
    -st-background-image-shadow: 2px 2px 6px rgba(0,0,0,0.5);
}

.window-close-area {
  background-image: url("trash-icon.png");
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px solid #399cee;
    border-bottom: 0px;
    border-radius: 0px;
    height: 120px;
    width: 400px;
}

.icon-grid {
    spacing: 36px;
    -cinnamon-grid-item-size: 118px;
}

.icon-grid .overview-icon {
    icon-size: 96px;
}

.overview-icon {
    border-radius: 4px;
    padding: 3px;
    border: 1px rgba(0,0,0,0);
    font-size: 7.5pt;
    color: white;
    transition-duration: 100;
    text-align: center;
}

.expo-background {
    background-color: rgba(0,0,0,0.2);
}

.workspace-overview-background-shade {
  background-color: rgba(0,0,0,0.4);
}

.expo-workspace-thumbnail-frame {
  border: 1px, black;
  background-color: black;
}

.expo-workspace-thumbnail-frame#active {
  border: 1px, #399cee;
  background-color: #399cee;
} 

/* ===================================================================
* Desklets (desklet.js)
* ===================================================================*/
.desklet {    
color: #eee;  
}

.desklet-with-borders {
border: 1px solid #444;
     border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    background-color: #232323;
    border-radius: 0px;
color: #eee;  
}

.desklet-with-borders-and-header {
border: 1px solid #444;
     border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    background-color: #232323;
color: #eee;   
    border-radius-bottomleft: 0px;
    border-radius-bottomright: 0px;
}

.desklet-header { 
    border-radius-topleft: 0px;
    border-radius-topright: 0px;
    font-size: 10.5pt;
 
border: 1px solid #444;
     border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    background-color: #232323;
    border-radius: 0px;
color: #eee;  
    padding: 6px;
}

.desklet-drag-placeholder { 
    background-color: rgba(57,156,238,.31);
}

 
.clock-desklet-label {
}

.photoframe-box {
padding: 6px;
border: 1px solid #444;
     border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    background-color: #232323;
    border-radius: 0px;
 
}
.xkcd-box {
padding: 0px;
border: none;
background-color: none;
border-radius: 0px;
}

/* ===================================================================
 * Clock Desklet (desklet.js) 
 * ===================================================================*/
.clock-desklet-label {
} 


/* ===================================================================
 * Looking Glass 
 * ===================================================================*/

#LookingGlassDialog {
  background-gradient-direction: vertical;
    background-gradient-start:  #000000;
    background-gradient-end: #2f343d;
    spacing: 4px;
    padding: 4px;
    border: 2px solid #399cee;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px;
    color: #fff;
}
#LookingGlassDialog > #Toolbar {
    border: 2px solid #399cee;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    padding-bottom: 4px;
}
#LookingGlassDialog .labels {
    spacing: 4px;
}
#LookingGlassDialog .notebook-tab {
    padding: 2px;
}
#LookingGlassDialog .notebook-tab:hover {
    color: #FFFFFF;
}
#LookingGlassDialog .notebook-tab:selected {
    background-color: #399cee;
    border-radius: 0px;
    color: #fff;
}
#LookingGlassDialog .lg-inspector-title {
    font-weight: bold;
    padding-bottom: 8px;
}
.lg-dialog StLabel {
    color: #cccccc;
}
.lg-dialog StEntry {
    color: #cccccc;
    selection-background-color: #cccccc;
    selected-color: white;
}
.lg-obj-inspector-title {
    spacing: 4px;
}
.lg-obj-inspector-button {
    border: 1px solid #cccccc;
    padding: 4px;
    border-radius: 4px;
}
.lg-obj-inspector-button:hover {
    border: 1px solid #ffffff;
}
.lg-dialog .cinnamon-link {
    color: #cccccc;
}
.lg-dialog .cinnamon-link:hover {
    color: #ffffff;
}
#LookingGlassDialog StBoxLayout#EvalBox {
    padding: 4px;
    spacing: 4px;
}
#LookingGlassDialog StBoxLayout#ResultsArea {
    spacing: 4px;
}
#lookingGlassExtensions {
    padding: 4px;
}
.lg-extension-list {
    padding: 4px;
    spacing: 6px;
}
.lg-extension {
    border: 1px solid #6f6f6f;
    border-radius: 4px;
    padding: 4px;
}
.lg-extension-name {
    font-weight: bold;
}
.lg-extension-meta {
    spacing: 6px;
}
#LookingGlassPropertyInspector {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 0px;
    border: 1px solid #333;
    padding: 6px;
    color: #B8FF66;
}

/* ===================================================================
 * Date applet 
 * ===================================================================*/

.calendar {
    padding: .4em 1.75em;
    spacing-rows: 0px;
    spacing-columns: 0px;
}

.calendar-month-label {
    color: #cccccc;
    font-size: 7.5pt;
    padding-bottom: 8px;
    padding-top: 8px;
    font-weight: bold;
}

.calendar-change-month-back {
    width: 18px;
    height: 12px;
    background-image: url("calendar-arrow-left.svg");
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,0);
}

.calendar-change-month-back:rtl {
    background-image: url("calendar-arrow-right.svg");
}

.calendar-change-month-back:hover {
    background-color: rgba(255,255,255,0.5);
}
.calendar-change-month-back:active {
    background-color: rgba(255,255,255,0.5);
}

.calendar-change-month-forward {
    width: 18px;
    height: 12px;
    background-image: url("calendar-arrow-right.svg");
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,0);
}

.calendar-change-month-forward:rtl {
    background-image: url("calendar-arrow-left.svg");
}

.calendar-change-month-forward:hover {
    background-color: rgba(255,255,255,0.5);
}

.calendar-change-month-forward:active {
    background-color: rgba(255,255,255,0.5);
}

.datemenu-date-label {
    padding: .4em 1.75em;
    font-size: 10.5pt;
    color: #fff;
}

.calendar-day-base {
    font-size: 7.5pt;
    text-align: center;
    width: 2.4em;
    height: 2.4em;
}

.calendar-day-base:hover {
    background-color: #399cee;
    color: #fff;
}

.calendar-day-base:active {
}

.calendar-day-heading {
    color: #fff;
    padding-top: 1em;
}

.calendar-week-number {
    color: #fff;
}

/* Hack used in lieu of border-collapse - see calendar.js */
.calendar-day {
    color: #fff;
    border-top-width: 0;
    border-left-width: 0;
}
.calendar-day-top {
}
.calendar-day-left {
}

.calendar-work-day {
}

.calendar-nonwork-day {
    background-color: rgba(255, 255, 255, 0.2);
}

.calendar-today {
    color: #ffffff;
    font-weight: bold;
    background-color: rgba(57,156,238,1);
    border-radius: 2px;
}

.calendar-other-month-day {
    color: #e4e4e4;
}

.calendar-day-with-events {
    font-weight: bold;
    color: #399cee;
}

/* ===================================================================
 * Notifications
 * ===================================================================*/

#notification {
 
    border-radius: 6px;
    font-size: 8.5pt;
    background-color: #383338;
    border: 1px solid #000;
    padding: 6px 6px 6px 6px;
    spacing-rows: 10px;
    spacing-columns: 10px;
    margin-from-right-edge-of-screen: 19px;
    margin-from-top-edge-of-screen: 30px;
    width: 27em;
    color: white;
}
#notification.multi-line-notification {
    padding-bottom: 8px;
    color: white;
}
/* We use row-span = 2 for the image cell, which prevents its height preferences to be
    taken into account during allocation, so its height ends up being limited by the height
    of the content in the other rows. To avoid showing a stretched image, we set the minimum
    height of the table to be ICON_SIZE + IMAGE_SIZE + spacing-rows = 24 + 125 + 10 = 159 */
.notification-with-image {
    min-height: 159px;
    color: white;
}
#notification-scrollview {
    max-height: 10em;
}
#notification-scrollview > .top-shadow, #notification-scrollview > .bottom-shadow {
    height: 1em;
}
#notification-scrollview:ltr > StScrollBar {
    padding-left: 6px;
}
#notification-scrollview:rtl > StScrollBar {
    padding-right: 6px;
}
#notification-body {
    spacing: 5px;
}
#notification-actions {
    spacing: 10px;
}
.notification-button {
    border-radius: 18px;
    font-size: 11pt;
    padding: 4px 42px 5px;
}
.notification-button:focus {
    padding: 3px 41px 4px;
}
.notification-icon-button {
    border-radius: 5px;
    padding: 5px;
}
.notification-icon-button:focus {
    padding: 4px;
}
.notification-icon-button > StIcon {
    icon-size: 36px;
}
.hotplug-transient-box {
    spacing: 6px;
    padding: 2px 72px 2px 12px;
}
.hotplug-notification-item {
    padding: 2px 10px;
    border-radius: 18px;
    font-size: 10.5pt;
}
.hotplug-notification-item:focus {
    padding: 1px 71px 1px 11px;
}
.hotplug-notification-item-icon {
    icon-size: 24px;
    padding: 2px 5px;
}
.hotplug-resident-box {
    spacing: 8px;
}
.hotplug-resident-mount {
    spacing: 8px;
    border-radius: 4px;
    color: #ccc;
}
.hotplug-resident-mount:hover {
    background-gradient-direction: horizontal;
    background-gradient-start: rgba(255, 255, 255, 0.1);
    background-gradient-end: rgba(255, 255, 255, 0);
    color: #fff;
}
.hotplug-resident-mount-label {
    color: inherit;
    padding-left: 6px;
}
.hotplug-resident-mount-icon {
    icon-size: 24px;
    padding-left: 6px;
}
.hotplug-resident-eject-icon {
    icon-size: 16px;
}
.hotplug-resident-eject-button {
    padding: 7px;
    border-radius: 5px;
    color: #ccc;
}
#notification StEntry {
    padding: 4px;
    border-radius: 4px;
    color: #a8a8a8;
    selected-color: white;
    border: 1px solid rgba(245,245,245,0.2);
    background-gradient-direction: vertical;
    background-gradient-start: rgb(200,200,200);
    background-gradient-end: white;
    transition-duration: 300;
    caret-color: #a8a8a8;
    caret-size: 1px;
}
#notification StEntry:focus {
    border: 1px solid #8b8b8b;
    color: #333333;
    background-gradient-direction: vertical;
    background-gradient-start: rgb(200,200,200);
    background-gradient-end: white;
    caret-color: #545454;
    selection-background-color: #808080;
}

/* ===================================================================
 * Alt Tab
 * ===================================================================*/

#altTabPopup {
    padding: 8px;
    spacing: 16px;
}

.switcher-list {
    background-color: #383338;
    background-gradient-direction: vertical;
    background-gradient-start: #474747;
    background-gradient-end: #383338;
    border-radius: 4px;
    padding: 20px;
    border: solid 1px black;
    box-shadow: 2px solid rgba(0,0,0,0.4) 2px 2px;
    color: white;
    border-image: url('tab.png') 4 4 4 4;
}

.switcher-list-item-container {
    spacing: 8px;
}

.thumbnail-scroll-gradient-left {
    background-color: #474747;
    background-gradient-direction: vertical;
    background-gradient-start: #474747;
    background-gradient-end: #383338;
    border-radius: 24px;
    border-radius-topright: 0px;
    border-radius-bottomright: 0px;
    width: 60px;
}

.thumbnail-scroll-gradient-right {
    background-color: #474747;
    background-gradient-direction: vertical;
    background-gradient-start: #474747;
    background-gradient-end: #383338;
    border: 1px solid  #399cee;    
    border-radius: 0px;
    width: 60px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
}

.switcher-list .item-box {
    padding: 8px;
    color: white;
    border: 4px solid rgba(0,0,0,0);
    border-radius: 8px;
}

.switcher-list .item-box:outlined {
    background-color: #474747;    
    border-radius: 0px;
}

.switcher-list .item-box:selected {
    border-radius: 0px;
    border: 4px solid #379aff;
}

.switcher-list .thumbnail-box {
    padding: 2px;
    spacing: 4px;
}

.switcher-list .thumbnail {
    width:  256px;
}

.switcher-list .separator {
    width: 1px;
    background: rgba(255,255,255,0.33);
}

.ripple-box {
    width: 300px;
    height: 300px;
    background-gradient-end: rgba(57,156,238,0.8);
    background-gradient-start: rgba(0,0,0,0.3);
    background-gradient-direction: radial;
    box-shadow: outset 0px 0px 5px 5px #399cee;
    border-radius: 150px;
}

.ripple-box:rtl {
    width: 300px;
    height: 300px;
    background-gradient-end: rgba(57,156,238,0.8);
    background-gradient-start: rgba(0,0,0,0.3);
    background-gradient-direction: radial;
    box-shadow: outset 0px 0px 5px 5px #399cee;
    border-radius: 150px;
}

.switcher-arrow {
    border-color: rgba(0,0,0,0);
    color: #808080;
}

.switcher-arrow:highlighted {
    border-color: rgba(0,0,0,0);
    color: white;
}

.switcher-preview-backdrop {
   background-color: rgba(25,25,25,0.95);
}

/* ===================================================================
 * Modal dialogs
 * ===================================================================*/

.modal-dialog {
    font-size: 10pt;
    border-radius: 2px;
    background-color: #474747;
    border: 2px solid #383338;
    color: #fff;
    padding-right: 42px;
    padding-left: 42px;
    padding-bottom: 30px;
    padding-top: 30px;
}

.modal-dialog-button-box {
    spacing: 21px;
}

.modal-dialog-button {
    border-radius: 4px;
    font-size: 10pt;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    padding: 4px 32px 5px;
}

.modal-dialog-button:hover {
}

.modal-dialog-button:active,
.modal-dialog-button:checked {
    color: white;
    border-image: url('button-focused-pressed.png') 5;
}

.modal-dialog-button:disabled {
    color: rgb(60, 60, 60);
}

.modal-dialog-button:focus {
    padding: 3px 31px 4px;
}

/* ===================================================================
 * Run dialog
 * ===================================================================*/

.run-dialog-label {
    font-size: 9pt;
    color: white;
}

.run-dialog-error-label {
    font-size: 9pt;
    color: white;
}

.run-dialog-error-box {
    padding-top: 15px;
    spacing: 5px;
}

.run-dialog-entry {
    font-size: 10pt;
    font-weight: normal;
    background-color: #232323;
    border: 1px solid gray;
    border-radius: 0;
    color: white;
    selected-color: #383338;
    caret-color: white;
    caret-size: 2px;
    padding: 2px;
    padding-left: 6px;
    width: 18em;
}

.run-dialog-completion-box { 
    padding-left: 15px;
    font-size: 10px;
} 

.run-dialog {
    border-radius: 8px;    
    padding-right: 21px;
    padding-left: 21px;
    padding-bottom: 15px;
    padding-top: 15px;
    color: white;
    border-image: url('tab.png') 4 4 4 4;
}

.lightbox {
    background-color: rgba(0, 0, 0, 0.0);
}

/* ===================================================================
 * End session dialog
 * ===================================================================*/

.end-session-dialog {
    spacing: 42px;
}
.end-session-dialog-subject {
    font-size: 12pt;
    font-weight: bold;
    color: #fff;
    padding-top: 10px;
    padding-left: 17px;
    padding-bottom: 30px;
}
.end-session-dialog-subject:rtl {
    padding-left: 0px;
    padding-right: 17px;
}
.end-session-dialog-description {
    font-size: 10pt;
    color: white;
    padding-left: 17px;
    width: 28em;
}
.end-session-dialog-description:rtl {
    padding-right: 17px;
}
.end-session-dialog-logout-icon {
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 0px;
    width: 32px;
    height: 32px;
}
.end-session-dialog-shutdown-icon {
    width: 32px;
    height: 32px;
}
.end-session-dialog-app-list {
    font-size: 10pt;
    max-height: 200px;
    padding-top: 42px;
    padding-left: 49px;
    padding-right: 32px;
}
.end-session-dialog-app-list:rtl {
    padding-right: 49px;
    padding-left: 32px;
}
.end-session-dialog-app-list-item {
    color: #ccc;
}
.end-session-dialog-app-list-item:hover {
    color: white;
}
.end-session-dialog-app-list-item:ltr {
    padding-right: 1em;
}
.end-session-dialog-app-list-item:rtl {
    padding-left: 1em;
}
.end-session-dialog-app-list-item-icon:ltr {
    padding-right: 17px;
}
.end-session-dialog-app-list-item-icon:rtl {
    padding-left: 17px;
}
.end-session-dialog-app-list-item-name {
    font-size: 10pt;
}
.end-session-dialog-app-list-item-description {
    font-size: 8pt;
    color: #444444;
}
/* CinnamonMountOperation Dialogs */
.cinnamon-mount-operation-icon {
    icon-size: 48px;
}
.mount-password-reask {
    color: red;
}
.show-processes-dialog,
.mount-question-dialog {
    spacing: 24px;
}
.show-processes-dialog-subject,
.mount-question-dialog-subject {
    font-size: 12pt;
    font-weight: bold;
    color: #666666;
    padding-top: 10px;
    padding-left: 17px;
    padding-bottom: 6px;
}
.show-processes-dialog-subject:rtl,
.mount-question-dialog-subject:rtl {
    padding-left: 0px;
    padding-right: 17px;
}
.show-processes-dialog-description,
.mount-question-dialog-description {
    font-size: 10pt;
    color: white;
    padding-left: 17px;
    width: 28em;
}
.show-processes-dialog-description:rtl,
.mount-question-dialog-description:rtl {
    padding-right: 17px;
}
.show-processes-dialog-app-list {
    font-size: 10pt;
    max-height: 200px;
    padding-top: 24px;
    padding-left: 49px;
    padding-right: 32px;
}
.show-processes-dialog-app-list:rtl {
    padding-right: 49px;
    padding-left: 32px;
}
.show-processes-dialog-app-list-item {
    color: #ccc;
}
.show-processes-dialog-app-list-item:hover {
    color: white;
}
.show-processes-dialog-app-list-item:ltr {
    padding-right: 1em;
}
.show-processes-dialog-app-list-item:rtl {
    padding-left: 1em;
}
.show-processes-dialog-app-list-item-icon:ltr {
    padding-right: 17px;
}
.show-processes-dialog-app-list-item-icon:rtl {
    padding-left: 17px;
}
.show-processes-dialog-app-list-item-name {
    font-size: 10pt;
}

/* ===================================================================
 * Policykit authentication dialog
 * ===================================================================*/

.polkit-dialog {
    /* this is the width of the entire modal popup */
    width: 500px;
}

.polkit-dialog-main-layout {
    spacing: 24px;
    padding: 10px;
}

.polkit-dialog-message-layout {
    spacing: 16px;
}

.polkit-dialog-headline {
    font-size: 12pt;
    font-weight: bold;
    color: #666666;
}

.polkit-dialog-description {
    font-size: 10pt;
    color: white;
}

.polkit-dialog-user-layout {
    padding-left: 10px;
    spacing: 10px;
}

.polkit-dialog-user-layout:rtl {
    padding-left: 0px;
    padding-right: 10px;
}

.polkit-dialog-user-root-label {
    color: #ff0000;
}

.polkit-dialog-password-label:ltr {
    padding-right: 0.5em;
}

.polkit-dialog-password-label:rtl {
    padding-left: 0.5em;
}

.polkit-dialog-password-entry {
    background-gradient-start: rgb(56,51,56);
    background-gradient-end: rgb(71,71,71);
    background-gradient-direction: vertical;
    color: white;
    border-radius: 5px;
    border: 1px solid black;
}

.polkit-dialog-password-entry:focus {
    border: 2px solid b;
}

.polkit-dialog-password-entry .capslock-warning {
    icon-size: 16px;
    warning-color: #999;
    padding: 0 4px;
}

.polkit-dialog-error-label {
    font-size: 10pt;
    color: #ffff00;
    padding-bottom: 8px;
}

.polkit-dialog-info-label {
    font-size: 10pt;
    padding-bottom: 8px;
}

/* intentionally left transparent to avoid dialog changing size */
.polkit-dialog-null-label {
    font-size: 10pt;
    color: rgba(0,0,0,0);
    padding-bottom: 8px;
}

.network-dialog-secret-table {
    spacing-rows: 15px;
}

/* ===================================================================
 * Magnifier
 * ===================================================================*/


.magnifier-zoom-region {
    border: 2px solid rgba(128, 0, 0, 255);
}

.magnifier-zoom-region.full-screen {
    border-width: 0px;
}

/* ===================================================================
 * On screen keyboard
 * ===================================================================*/


#keyboard {
    background-gradient-direction: vertical;
    background-gradient-start: #000;
    background-gradient-end: #000;
 
}

.keyboard-layout {
    spacing: 10px;
    padding: 10px;
}

.keyboard-row {
    spacing: 15px;
}

.keyboard-key {
    min-height: 32px;
    min-width: 23px;
    background-gradient-direction: vertical;
    background-gradient-start: #5b5b5b;
    background-gradient-end:  #5b5b5b;
    font-size: 14pt;
    font-weight: bold;
    border-radius: 1px;
border: 1px #717171;
border-bottom: 0px;
border-left: 0px;
border-right: 0px;
     color: #eaeaea;
}

.keyboard-key:grayed {
    background-gradient-direction: vertical;
    background-gradient-start: #272727;
    background-gradient-end: #272727;
border: 1px rgba(120,120,120,1);
border-bottom: 0px;
border-left: 0px;
border-right: 0px;
border-radius: 1px;
}

.keyboard-key:checked,
.keyboard-key:hover {
    background-gradient-direction: vertical;
    background-gradient-start: #399cee;
    background-gradient-end: #399cee;
border: 1px #76d2ec;
  border-bottom: 0px;
     border-left: 0px;
     border-right: 0px; 
border-radius: 1px;
    color: #fff;
 
}

.keyboard-key:active {
    background-gradient-direction: vertical;
    background-gradient-start: #399cee;
    background-gradient-end: #399cee;
border: 1px #76d2ec;
  border-bottom: 0px;
     border-left: 0px;
     border-right: 0px; 
border-radius: 1px;
    color: #fff;
 
}

.keyboard-subkeys {
    color: white;
    padding: 5px;
    -arrow-border-radius: 2px;
    -arrow-background-color: #1b1b1c;
    -arrow-border-width: 1px;
    -arrow-border-color: #399cee;
    -arrow-base: 10px;
    -arrow-rise: 5px;
    -boxpointer-gap: 5px;
}

/* ###################################################################
 * Cinnamon Specific Section 
 * ###################################################################*/

/* ===================================================================
 * Menu (menu.js)
 * ===================================================================*/

/* Main menu title */

.menu-favorites-box {
	border: 1px solid transparent;
	border-radius: 0px;
    padding: 0px 0px 0px 0px;
    color: #fff;
}

.menu-background {
    border: 1px solid transparent;
    border-image: url("menu-bg.png") 12 12 67 42;
    padding: 40px 1px 0px 1px;
    background-color: #181818;
}

.menu-favorites-button {
    border: 1px solid transparent;
    padding: 10px;
    border-radius: 10px;
}

.menu-favorites-button:hover {
    border-radius: 10px;
	background-gradient-start: rgba(24,24,24,1.0);
    background-gradient-end: rgba(45,45,45,1.0);
    background-gradient-direction: vertical;
    border: 1px solid #000;
    color: white;
}

.menu-places-box {  
    margin: auto;
    padding: 8px;
    border: 1px solid transparent;  
}

.menu-places-button {
    border: 1px solid transparent;
    padding: 10px;
}

.menu-categories-box {
    border: 1px solid transparent;
    padding: 10px;
}

.menu-applications-box {
    padding: 10px 0px 0px 10px;
    background-color: transparent;
    border: none;
    text-shadow: 0 2px rgba(0, 0, 0, 0.9);
}

.menu-applications-inner-box {
    text-shadow: 0 2px rgba(0, 0, 0, 1.0);
    color: white;
    padding: 24px;
	background-gradient-start: rgba(48,50,54,0.8);
    background-gradient-end: rgba(205,205,205,0.8);
    background-gradient-direction: vertical;
    border: 2px solid #2b2c2c;
    border-image: url("menu-inner-bg.png");
}

.menu-applications-box StScrollBar {
    padding: 0px;
}

.menu-applications-box StScrollView {
    border: 0px solid #000;
    border-image: none;
    border-right-width: 0px;
}


.menu-applications-box StBin#trough {
    border-image: url('trough-scrollbar-vert.png');
    border-radius: 5px;
    border-width: 0px;
    box-shadow: none;
    border-image: none;
}

.menu-applications-box StButton#vhandle {
    border-image: url('slider-vert.png') 3;
    background: url('handle-vert.png') no-repeat center center;
}

.menu-applications-box StButton#vhandle:hover {
    border-image: url('slider-vert-hover.png') 3;
    background: url('handle-vert-hover.png') no-repeat center center;
}

.menu-application-button {
    border: 1px solid transparent;
    padding: 7px;
    max-width: 10px;
    color: #fff;
}

.menu-application-button-selected {
    border-image: url("button-active.png");
    padding: 7px;
    color: white;
    background-color: transparent;
    border: 1px solid transparent;
}

.menu-application-button-label:ltr { 
     padding-left: 3px;
}

.menu-application-button-label:rtl { 
     padding-right: 3px;
}

.menu-category-button {
    border: 1px solid transparent;
    padding: 7px;
    color: #fff;
}
.menu-category-button-greyed {
    border: 1px solid transparent;
    padding: 7px;
    color: #808080;
}

.menu-category-button-selected {
    background-image: url("button-cat-active.png");
    background-size: contain;
    padding: 7px;
    color: white;
    background-color: transparent;
    border: 1px solid transparent;
}

.menu-category-button-label:ltr { 
    padding-left: 3px    
}

.menu-category-button-label:rtl { 
    padding-right: 3px    
}

/* Name and description of the currently hovered item in the menu
 * This appears on the bottom left hand corner of the menu*/
 
.menu-selected-app-box {
    border: 1px solid transparent;
    text-shadow: 0 1px rgba(0,0,0,0.9);
    padding-top: 6px;
    padding-right: 30px;
    padding-left: 28px;
    text-align: left;
    color: #fff;
}

.menu-selected-app-title {
    font-weight: bold;
}

.menu-selected-app-description {
    max-width: 150px;
}
#menu-search-entry, #menu-search-entry:hover, #menu-search-entry:focus {
	border: 1px solid rgba(15,15,15,1);
	border-radius: 0px;
    background-color: #202020;
    padding: 6px 8px;
    color: #fff;
    font: 9pt;
    height: 18px;
    width: 250px;
    selected-color: white;
    caret-color: #fff;
    caret-size: 2px;
    margin-bottom: 10px;
}

.menu-search-box {
   padding-left: 20px;
   padding-bottom: 10px;
}

.menu-search-entry-icon {
    icon-size: 1em;
    color: white;
}

/* Context menu (at the moment only for favorites) */
.menu-context-menu {
}

/* ===================================================================
 * Window list (windowList.js)
 * ===================================================================*/
.window-list-box {
    spacing: 1px;   
    padding-top: 1px;   
}

.window-list-item-label {
    font-weight: normal;
    width: 15em;
    min-width: 5px;
}

.window-list-item-box {
    background-color: transparent;
    border-image: url('normal.png');
    padding: 1px;
    margin: 5px;
    transition-duration: 100;
}

.window-list-item-box:active,
.window-list-item-box:checked,
.window-list-item-box:focus    { 
    background-color: transparent;
    border-image: url('button-active.png');
}


.window-list-item-box:hover  {
    background-color: transparent;
    border-image: url('button-active.png');
}

.window-list-item-box:focus:hover  {
    background-color: transparent;
    border-image: url('button-active.png');
}

.window-list-item-demands-attention {
    background-color: transparent;
    border-image: url('urgent.png');
}

/* ===================================================================
 * Sound Applet (status/volume.js)
 * ===================================================================*/
.sound-button-container {
    padding-right: 2px;
    padding-left: 2px;
    background-color: #232527;
    border: 2px solid #656565;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    box-shadow:  0px -1px 0px 0px rgba(51,51,51,1);
}
.sound-button {
    width: 26px;
    height: 20px;
    padding: 5px;
    color: #fff;    
    background-color: #000;
}

.sound-button:hover {
    background-color: #232527;
    color: #399cee;
    transition-duration: 200;
}

.sound-button:active {
    background-color: rgba(57,156,238,.1);
    color: #399cee;
    transition-duration: 200;
}

.sound-button StIcon {
    icon-size: 1em;
}
.sound-track-infos {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.sound-track-info {
    padding-top: 2px;
    padding-bottom: 2px;
}
.sound-track-info StIcon {
    icon-size: 1em;
}
.sound-track-info StLabel {
    padding-left: 5px;
    padding-right: 5px;
}
.sound-track-box {
    padding-left: 18px;
    padding-right: 18px;
    max-width: 220px;
}
.sound-volume-menu-item {
    padding: .4em 1.75em;
}
.sound-volume-menu-item StIcon {
    icon-size: 1.14em;
    padding-left: 8px;
}
.sound-playback-control {
    padding-top: 5px;
    padding-bottom: 10px;
}

/* ===================================================================
 * Workspace Switcher applet (workspaceSwitcher.js)
 * ===================================================================*/
#workspaceSwitcher {
    spacing: 2px;
    padding: 2px;
}
 
.workspace-button {
    width: 20px;
     height: 10px;
     padding: 2px;
    border-radius: 0px;
    background-color: rgba(56,51,56,0.4);
    color: #fff;
    transition-duration: 250;
}

.workspace-button:outlined {
     padding: 2px;
    background-color: #000;
    border-radius: 0px;
    color: #399cee;
}

.workspace-button:hover {
     padding: 2px;
    background-color: #000;
    border-radius: 0px;
    color: #399cee;
}
/* ===================================================================
 * Panel Launchers Applet (panelLaunchers.js)
 * ===================================================================*/
#Tooltip {
background-color: rgba(0,0,0,0.0);
color:  rgba(0,0,0,0.0);
border: 0px solid #000000;
background-color: transparent;
    background-gradient-start: rgba(0,0,0,0.0);
    background-gradient-end: rgba(0,0,0,0.0);
    background-gradient-direction: vertical;
}

#panel-launchers-box {
    
}

.panel-launchers .launcher {
    margin: 1px;
    padding: 3px;
}

.panel-launchers .launcher:hover {
    border-image: url("launcher-bg.png");
}

.panel-launcher-add-dialog-content-box {
    padding: 6px;
    spacing: 20px;
}

.panel-launcher-add-dialog-content-box-left {
    padding: 6px;
    spacing: 20px;
}

.panel-launcher-add-dialog-content-box-right {
    padding: 6px;
    spacing: 10px;
}

.panel-launcher-add-dialog-entry {
    padding: 5px;
    border-radius: 4px;
    color: rgb(50, 50, 50);
    border: 1px solid rgba(245,245,245,0.2);
    background-gradient-start: rgba(56,51,56,0.5);
    background-gradient-end: rgba(71,71,71,0.5);
    background-gradient-direction: vertical;
    box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,0.5);
    selected-color: white;
    caret-color: rgb(128, 128, 128);
    caret-size: 1px;
    width: 250px;
    transition-duration: 300;
}

.panel-launcher-add-dialog-entry:focus,
.panel-launcher-add-dialog-entry:hover {
    border: 1px solid rgba(120,120,120,1);
    background-gradient-start: rgba(56,51,56,0.5);
    background-gradient-end: rgba(71,71,71,0.5);
    background-gradient-direction: vertical;
}

.panel-launcher-add-dialog-entry:hover {
    transition-duration: 300;
}

.panel-launcher-add-dialog-entry:focus {
    color: rgb(64, 64, 64);
    font-weight: bold;
    transition-duration: 0;
}

/* ===================================================================
 * Overview corner
 * ===================================================================*/
#overview-corner {
    background-image: url("overview.png");
}

#overview-corner:hover {    
    background-image:  url("overview-hover.png");
}

/* ===================================================================
 * Applets (applet.js) 
 * ===================================================================*/
.applet-separator {
    padding: 5px 4px;
}
.applet-separator-line {
    width: 1px;
    background: rgba(0,0,0,0.5);
}

.applet-box {
    padding-left: 6px;
    padding-right: 6px;
    transition-duration: 300;
}
.applet-box:hover {
    border-image: url("launcher-bg.png");
    color:  white;
    transition-duration: 100;
}
.applet-box:active {
    border-image: url("launcher-bg.png");
    color:  white;
    transition-duration: 100;
 
}

.applet-label:not(:first-child) {
    font-weight: normal;
}

.applet-label:hover,
.applet-box:hover > .applet-label {
    color: white;
}

.applet-icon {
    icon-size: 1.3em;
}

.applet-icon:hover,
.applet-box:hover > .applet-icon {}

/* ===================================================================
 * Workspace OSD
 * ===================================================================*/
/* When switching workspaces*/

.workspace-osd {
    color: #fff;
    font-size: 25pt;    
    text-align: center;
    background: #013b6b;
    border: 2px solid #399cee;
    border-radius: 4px;
    padding: 0.5em 1em;
}

.expo-workspaces-name-entry {
    padding: 5px;
    padding-bottom: 7px;
    color: gray;
    border: 1px solid gray;
    background-color: #474747;
    selected-color: white;
    caret-color: white;
    caret-size: 1px;
    height: 16px;    
    text-align: center;    
}

.expo-workspaces-name-entry#selected {
    background-color: #f1f1f1;
    padding: 5px;
    padding-bottom: 7px;
    border: 1px solid #399cee;
    text-align: center;    
    height: 16px;
}

.expo-workspaces-name-entry:focus {
    padding: 5px;
    padding-bottom: 7px;
    color: white;
    transition-duration: 300;
    text-align: center;    
}

/* ===================================================================
 * Notification Applet
 * ===================================================================*/

.notification-applet-padding {
    padding: .5em 1em;
}

.notification-applet-container {
    max-height: 100px;
}

/* Check Boxes */
.check-box CinnamonGenericContainer {
    spacing: .2em;
    min-height: 30px;
    padding-top: 2px;
}

.check-box StBin {
    width: 24px;
    height: 18px;
    background-image: url("checkbox-off.png");
}

.check-box:focus StBin {
    background-image: url("checkbox-off-focus.png");
}

.check-box:checked StBin {
    background-image: url("checkbox.png");
}

.check-box:focus:checked StBin {
    background-image: url("checkbox-focus.png");
}

.check-box StLabel {
   font-weight: normal;
}

.radiobutton CinnamonGenericContainer {
    spacing: .2em;
    height: 26px;
    padding-top: 2px;
}

.radiobutton StBin {
    width: 22px;
    height: 22px;
    background-image: url("radio-unselected.png");
    border-radius: 15px;
}

.radiobutton:focus StBin {
    background-image: url("radio-unselected.png");
}

.radiobutton:checked StBin {
    background-image: url("radio-selected.png");
}

.radiobutton:focus:checked StBin {
    background-image: url("radio-selected.png");
}

.radiobutton StLabel {
   padding-top: 4px;
   font-size: 0.9em;
   box-shadow: none;
}

.flashspot {
   background-color: white;
}

/* ===================================================================
 * Network Data Usage Monitor applet
 * ===================================================================*/
 
 /* These settings govern the width of the Applet and the space taken by the font.*/

.numa-left {
    text-align: center;
    min-width: 75px;
    font-weight: bold;
    /*font-size: 95%;*/
}

.numa-right {
    text-align: center;
    min-width: 1px;
    font-weight: bold;
    /*font-size: 95%;*/
}

/* The following are the styles for the Applet backgrounds - names are self explanitory 
The colour parameters are red, green, blue, and transparency or a name */

.numa-not-connected {
    background-color: rgba(0,0,0,0.0);
    border-radius: 10px;
}

.numa-connected {
    background-color: rgba(0,0,0,0);
    border-radius: 10px;
}

.numa-alert {
    color: #fff;
    border-top: 3px;
    border-bottom: 0px;
    background-gradient-direction: vertical;
    background-gradient-end: rgba(57,156,238,0.1);
    background-gradient-start: rgba(57,156,238,0.1);
    border-radius: 0px;
}

.numa-limit-exceeded {
    color: #fff;
    border-top: 3px;
    border-bottom: 0px;
    background-gradient-direction: vertical;
    background-gradient-end: rgba(57,156,238,0.1);
    background-gradient-start: rgba(57,156,238,0.1);
     border-radius: 0px;
}

/* ===================================================================
 * Snap/Tile OSD Popup
 * ===================================================================*/

.snap-osd {
    font-size: 18pt;
    border-radius: 24px;
    background-color: rgba(55,55,55,0.9);
    color: #fff;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;    
}

/* ===================================================================
 * CinnVIIStarkMenu
 * ===================================================================*/

.right-buttons-box {
    background-color: transparent;
    padding: 8px;
}
.starkmenu-background {
    border: solid 1px transparent;
    border-image: url("popup-menu-stark.png");
    padding: 35px 1px 29px 1px;
}
.starkmenu-selected-app-box {
    color: white; /* Information, which is shown, if you select apps*/
}
.starkmenu-favorites-box {  
    background-color: transparent;
    border: 0px solid #181818;
}
.starkmenu-applications-box {
    padding: 0px 0px 0px 0px;
}
.starkmenu-applications-inner-box {
    background-color: transparent;
}
.starkmenu-applications-box StScrollView {
    background-color: transparent;
    color: white;
}
.starkmenu-search-box {
    padding-bottom: 5px;
}

.hover-user-icon {
  border-radius: 4px;
  border: 2px solid transparent;
}
