#XfceNotifyWindow {
    background-color: #000000;
    border-radius: 1px;
    border-width: 1px;
    border: 1px solid #009900;
    border-color: #009900;
    padding: 20px;
}

#XfceNotifyWindow:hover {
    background-color: #000000;
    border-radius: 1px;
    border-width: 1px;
    border: 1px solid #009900;
    border-color: #009900;
    padding: 20px;
}

#XfceNotifyWindow label,
#XfceNotifyWindow image {
    font-family: Default;
    font-size: 16;
    color: #009900;
}

#XfceNotifyWindow label#summary {
    font-weight: Bold; 
}

#XfceNotifyWindow button {
    border-style: none;
    background-image: none;
    border: 1px solid #009900;
    background-color: #000000;
}

#XfceNotifyWindow button:hover {
    border-style: none;
    background-image: none;
    border: 1px solid #009900;
    background-color: #000000;
    
}






#IknowKungFoo
